/*! Colors.css 2.0.9 | Baseline Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--baseline-inherit: inherit;
	--baseline-transparent: transparent;
	--baseline-f: #ffffff;
	--baseline-white: #ffffff;
	--baseline-e: #eeeeee;
	--baseline-d: #dddddd;
	--baseline-c: #cccccc;
	--baseline-b: #bbbbbb;
	--baseline-a: #aaaaaa;
	--baseline-9: #999999;
	--baseline-nine: #999999;
	--baseline-8: #888888;
	--baseline-eight: #888888;
	--baseline-7: #777777;
	--baseline-seven: #777777;
	--baseline-6: #666666;
	--baseline-six: #666666;
	--baseline-5: #555555;
	--baseline-five: #555555;
	--baseline-4: #444444;
	--baseline-four: #444444;
	--baseline-3: #333333;
	--baseline-three: #333333;
	--baseline-2: #222222;
	--baseline-two: #222222;
	--baseline-1: #111111;
	--baseline-one: #111111;
	--baseline-0: #000000;
	--baseline-zero: #000000;
	--baseline-black: #000000;
}
.background-baseline-inherit { background: var(--baseline-inherit); }
.background-baseline-transparent { background: var(--baseline-transparent); }
.background-baseline-f { background: var(--baseline-f); }
.background-baseline-white { background: var(--baseline-white); }
.background-baseline-e { background: var(--baseline-e); }
.background-baseline-d { background: var(--baseline-d); }
.background-baseline-c { background: var(--baseline-c); }
.background-baseline-b { background: var(--baseline-b); }
.background-baseline-a { background: var(--baseline-a); }
.background-baseline-9 { background: var(--baseline-9); }
.background-baseline-nine { background: var(--baseline-nine); }
.background-baseline-8 { background: var(--baseline-8); }
.background-baseline-eight { background: var(--baseline-eight); }
.background-baseline-7 { background: var(--baseline-7); }
.background-baseline-seven { background: var(--baseline-seven); }
.background-baseline-6 { background: var(--baseline-6); }
.background-baseline-six { background: var(--baseline-six); }
.background-baseline-5 { background: var(--baseline-5); }
.background-baseline-five { background: var(--baseline-five); }
.background-baseline-4 { background: var(--baseline-4); }
.background-baseline-four { background: var(--baseline-four); }
.background-baseline-3 { background: var(--baseline-3); }
.background-baseline-three { background: var(--baseline-three); }
.background-baseline-2 { background: var(--baseline-2); }
.background-baseline-two { background: var(--baseline-two); }
.background-baseline-1 { background: var(--baseline-1); }
.background-baseline-one { background: var(--baseline-one); }
.background-baseline-0 { background: var(--baseline-0); }
.background-baseline-zero { background: var(--baseline-zero); }
.background-baseline-black { background: var(--baseline-black); }
.color-baseline-inherit { color: var(--baseline-inherit); }
.color-baseline-transparent { color: var(--baseline-transparent); }
.color-baseline-f { color: var(--baseline-f); }
.color-baseline-white { color: var(--baseline-white); }
.color-baseline-e { color: var(--baseline-e); }
.color-baseline-d { color: var(--baseline-d); }
.color-baseline-c { color: var(--baseline-c); }
.color-baseline-b { color: var(--baseline-b); }
.color-baseline-a { color: var(--baseline-a); }
.color-baseline-9 { color: var(--baseline-9); }
.color-baseline-nine { color: var(--baseline-nine); }
.color-baseline-8 { color: var(--baseline-8); }
.color-baseline-eight { color: var(--baseline-eight); }
.color-baseline-7 { color: var(--baseline-7); }
.color-baseline-seven { color: var(--baseline-seven); }
.color-baseline-6 { color: var(--baseline-6); }
.color-baseline-six { color: var(--baseline-six); }
.color-baseline-5 { color: var(--baseline-5); }
.color-baseline-five { color: var(--baseline-five); }
.color-baseline-4 { color: var(--baseline-4); }
.color-baseline-four { color: var(--baseline-four); }
.color-baseline-3 { color: var(--baseline-3); }
.color-baseline-three { color: var(--baseline-three); }
.color-baseline-2 { color: var(--baseline-2); }
.color-baseline-two { color: var(--baseline-two); }
.color-baseline-1 { color: var(--baseline-1); }
.color-baseline-one { color: var(--baseline-one); }
.color-baseline-0 { color: var(--baseline-0); }
.color-baseline-zero { color: var(--baseline-zero); }
.color-baseline-black { color: var(--baseline-black); }
.fill-baseline-inherit { fill: var(--baseline-inherit); }
.fill-baseline-transparent { fill: var(--baseline-transparent); }
.fill-baseline-f { fill: var(--baseline-f); }
.fill-baseline-white { fill: var(--baseline-white); }
.fill-baseline-e { fill: var(--baseline-e); }
.fill-baseline-d { fill: var(--baseline-d); }
.fill-baseline-c { fill: var(--baseline-c); }
.fill-baseline-b { fill: var(--baseline-b); }
.fill-baseline-a { fill: var(--baseline-a); }
.fill-baseline-9 { fill: var(--baseline-9); }
.fill-baseline-nine { fill: var(--baseline-nine); }
.fill-baseline-8 { fill: var(--baseline-8); }
.fill-baseline-eight { fill: var(--baseline-eight); }
.fill-baseline-7 { fill: var(--baseline-7); }
.fill-baseline-seven { fill: var(--baseline-seven); }
.fill-baseline-6 { fill: var(--baseline-6); }
.fill-baseline-six { fill: var(--baseline-six); }
.fill-baseline-5 { fill: var(--baseline-5); }
.fill-baseline-five { fill: var(--baseline-five); }
.fill-baseline-4 { fill: var(--baseline-4); }
.fill-baseline-four { fill: var(--baseline-four); }
.fill-baseline-3 { fill: var(--baseline-3); }
.fill-baseline-three { fill: var(--baseline-three); }
.fill-baseline-2 { fill: var(--baseline-2); }
.fill-baseline-two { fill: var(--baseline-two); }
.fill-baseline-1 { fill: var(--baseline-1); }
.fill-baseline-one { fill: var(--baseline-one); }
.fill-baseline-0 { fill: var(--baseline-0); }
.fill-baseline-zero { fill: var(--baseline-zero); }
.fill-baseline-black { fill: var(--baseline-black); }
.border-color-baseline-inherit { border-color: var(--baseline-inherit); }
.border-color-baseline-transparent { border-color: var(--baseline-transparent); }
.border-color-baseline-f { border-color: var(--baseline-f); }
.border-color-baseline-white { border-color: var(--baseline-white); }
.border-color-baseline-e { border-color: var(--baseline-e); }
.border-color-baseline-d { border-color: var(--baseline-d); }
.border-color-baseline-c { border-color: var(--baseline-c); }
.border-color-baseline-b { border-color: var(--baseline-b); }
.border-color-baseline-a { border-color: var(--baseline-a); }
.border-color-baseline-9 { border-color: var(--baseline-9); }
.border-color-baseline-nine { border-color: var(--baseline-nine); }
.border-color-baseline-8 { border-color: var(--baseline-8); }
.border-color-baseline-eight { border-color: var(--baseline-eight); }
.border-color-baseline-7 { border-color: var(--baseline-7); }
.border-color-baseline-seven { border-color: var(--baseline-seven); }
.border-color-baseline-6 { border-color: var(--baseline-6); }
.border-color-baseline-six { border-color: var(--baseline-six); }
.border-color-baseline-5 { border-color: var(--baseline-5); }
.border-color-baseline-five { border-color: var(--baseline-five); }
.border-color-baseline-4 { border-color: var(--baseline-4); }
.border-color-baseline-four { border-color: var(--baseline-four); }
.border-color-baseline-3 { border-color: var(--baseline-3); }
.border-color-baseline-three { border-color: var(--baseline-three); }
.border-color-baseline-2 { border-color: var(--baseline-2); }
.border-color-baseline-two { border-color: var(--baseline-two); }
.border-color-baseline-1 { border-color: var(--baseline-1); }
.border-color-baseline-one { border-color: var(--baseline-one); }
.border-color-baseline-0 { border-color: var(--baseline-0); }
.border-color-baseline-zero { border-color: var(--baseline-zero); }
.border-color-baseline-black { border-color: var(--baseline-black); }
.stroke-baseline-inherit { stroke: var(--baseline-inherit); }
.stroke-baseline-transparent { stroke: var(--baseline-transparent); }
.stroke-baseline-f { stroke: var(--baseline-f); }
.stroke-baseline-white { stroke: var(--baseline-white); }
.stroke-baseline-e { stroke: var(--baseline-e); }
.stroke-baseline-d { stroke: var(--baseline-d); }
.stroke-baseline-c { stroke: var(--baseline-c); }
.stroke-baseline-b { stroke: var(--baseline-b); }
.stroke-baseline-a { stroke: var(--baseline-a); }
.stroke-baseline-9 { stroke: var(--baseline-9); }
.stroke-baseline-nine { stroke: var(--baseline-nine); }
.stroke-baseline-8 { stroke: var(--baseline-8); }
.stroke-baseline-eight { stroke: var(--baseline-eight); }
.stroke-baseline-7 { stroke: var(--baseline-7); }
.stroke-baseline-seven { stroke: var(--baseline-seven); }
.stroke-baseline-6 { stroke: var(--baseline-6); }
.stroke-baseline-six { stroke: var(--baseline-six); }
.stroke-baseline-5 { stroke: var(--baseline-5); }
.stroke-baseline-five { stroke: var(--baseline-five); }
.stroke-baseline-4 { stroke: var(--baseline-4); }
.stroke-baseline-four { stroke: var(--baseline-four); }
.stroke-baseline-3 { stroke: var(--baseline-3); }
.stroke-baseline-three { stroke: var(--baseline-three); }
.stroke-baseline-2 { stroke: var(--baseline-2); }
.stroke-baseline-two { stroke: var(--baseline-two); }
.stroke-baseline-1 { stroke: var(--baseline-1); }
.stroke-baseline-one { stroke: var(--baseline-one); }
.stroke-baseline-0 { stroke: var(--baseline-0); }
.stroke-baseline-zero { stroke: var(--baseline-zero); }
.stroke-baseline-black { stroke: var(--baseline-black); }
.outline-color-baseline-inherit { outline-color: var(--baseline-inherit); }
.outline-color-baseline-transparent { outline-color: var(--baseline-transparent); }
.outline-color-baseline-f { outline-color: var(--baseline-f); }
.outline-color-baseline-white { outline-color: var(--baseline-white); }
.outline-color-baseline-e { outline-color: var(--baseline-e); }
.outline-color-baseline-d { outline-color: var(--baseline-d); }
.outline-color-baseline-c { outline-color: var(--baseline-c); }
.outline-color-baseline-b { outline-color: var(--baseline-b); }
.outline-color-baseline-a { outline-color: var(--baseline-a); }
.outline-color-baseline-9 { outline-color: var(--baseline-9); }
.outline-color-baseline-nine { outline-color: var(--baseline-nine); }
.outline-color-baseline-8 { outline-color: var(--baseline-8); }
.outline-color-baseline-eight { outline-color: var(--baseline-eight); }
.outline-color-baseline-7 { outline-color: var(--baseline-7); }
.outline-color-baseline-seven { outline-color: var(--baseline-seven); }
.outline-color-baseline-6 { outline-color: var(--baseline-6); }
.outline-color-baseline-six { outline-color: var(--baseline-six); }
.outline-color-baseline-5 { outline-color: var(--baseline-5); }
.outline-color-baseline-five { outline-color: var(--baseline-five); }
.outline-color-baseline-4 { outline-color: var(--baseline-4); }
.outline-color-baseline-four { outline-color: var(--baseline-four); }
.outline-color-baseline-3 { outline-color: var(--baseline-3); }
.outline-color-baseline-three { outline-color: var(--baseline-three); }
.outline-color-baseline-2 { outline-color: var(--baseline-2); }
.outline-color-baseline-two { outline-color: var(--baseline-two); }
.outline-color-baseline-1 { outline-color: var(--baseline-1); }
.outline-color-baseline-one { outline-color: var(--baseline-one); }
.outline-color-baseline-0 { outline-color: var(--baseline-0); }
.outline-color-baseline-zero { outline-color: var(--baseline-zero); }
.outline-color-baseline-black { outline-color: var(--baseline-black); }
.text-decoration-color-baseline-inherit { text-decoration-color: var(--baseline-inherit); }
.text-decoration-color-baseline-transparent { text-decoration-color: var(--baseline-transparent); }
.text-decoration-color-baseline-f { text-decoration-color: var(--baseline-f); }
.text-decoration-color-baseline-white { text-decoration-color: var(--baseline-white); }
.text-decoration-color-baseline-e { text-decoration-color: var(--baseline-e); }
.text-decoration-color-baseline-d { text-decoration-color: var(--baseline-d); }
.text-decoration-color-baseline-c { text-decoration-color: var(--baseline-c); }
.text-decoration-color-baseline-b { text-decoration-color: var(--baseline-b); }
.text-decoration-color-baseline-a { text-decoration-color: var(--baseline-a); }
.text-decoration-color-baseline-9 { text-decoration-color: var(--baseline-9); }
.text-decoration-color-baseline-nine { text-decoration-color: var(--baseline-nine); }
.text-decoration-color-baseline-8 { text-decoration-color: var(--baseline-8); }
.text-decoration-color-baseline-eight { text-decoration-color: var(--baseline-eight); }
.text-decoration-color-baseline-7 { text-decoration-color: var(--baseline-7); }
.text-decoration-color-baseline-seven { text-decoration-color: var(--baseline-seven); }
.text-decoration-color-baseline-6 { text-decoration-color: var(--baseline-6); }
.text-decoration-color-baseline-six { text-decoration-color: var(--baseline-six); }
.text-decoration-color-baseline-5 { text-decoration-color: var(--baseline-5); }
.text-decoration-color-baseline-five { text-decoration-color: var(--baseline-five); }
.text-decoration-color-baseline-4 { text-decoration-color: var(--baseline-4); }
.text-decoration-color-baseline-four { text-decoration-color: var(--baseline-four); }
.text-decoration-color-baseline-3 { text-decoration-color: var(--baseline-3); }
.text-decoration-color-baseline-three { text-decoration-color: var(--baseline-three); }
.text-decoration-color-baseline-2 { text-decoration-color: var(--baseline-2); }
.text-decoration-color-baseline-two { text-decoration-color: var(--baseline-two); }
.text-decoration-color-baseline-1 { text-decoration-color: var(--baseline-1); }
.text-decoration-color-baseline-one { text-decoration-color: var(--baseline-one); }
.text-decoration-color-baseline-0 { text-decoration-color: var(--baseline-0); }
.text-decoration-color-baseline-zero { text-decoration-color: var(--baseline-zero); }
.text-decoration-color-baseline-black { text-decoration-color: var(--baseline-black); }
.caret-color-baseline-inherit { caret-color: var(--baseline-inherit); }
.caret-color-baseline-transparent { caret-color: var(--baseline-transparent); }
.caret-color-baseline-f { caret-color: var(--baseline-f); }
.caret-color-baseline-white { caret-color: var(--baseline-white); }
.caret-color-baseline-e { caret-color: var(--baseline-e); }
.caret-color-baseline-d { caret-color: var(--baseline-d); }
.caret-color-baseline-c { caret-color: var(--baseline-c); }
.caret-color-baseline-b { caret-color: var(--baseline-b); }
.caret-color-baseline-a { caret-color: var(--baseline-a); }
.caret-color-baseline-9 { caret-color: var(--baseline-9); }
.caret-color-baseline-nine { caret-color: var(--baseline-nine); }
.caret-color-baseline-8 { caret-color: var(--baseline-8); }
.caret-color-baseline-eight { caret-color: var(--baseline-eight); }
.caret-color-baseline-7 { caret-color: var(--baseline-7); }
.caret-color-baseline-seven { caret-color: var(--baseline-seven); }
.caret-color-baseline-6 { caret-color: var(--baseline-6); }
.caret-color-baseline-six { caret-color: var(--baseline-six); }
.caret-color-baseline-5 { caret-color: var(--baseline-5); }
.caret-color-baseline-five { caret-color: var(--baseline-five); }
.caret-color-baseline-4 { caret-color: var(--baseline-4); }
.caret-color-baseline-four { caret-color: var(--baseline-four); }
.caret-color-baseline-3 { caret-color: var(--baseline-3); }
.caret-color-baseline-three { caret-color: var(--baseline-three); }
.caret-color-baseline-2 { caret-color: var(--baseline-2); }
.caret-color-baseline-two { caret-color: var(--baseline-two); }
.caret-color-baseline-1 { caret-color: var(--baseline-1); }
.caret-color-baseline-one { caret-color: var(--baseline-one); }
.caret-color-baseline-0 { caret-color: var(--baseline-0); }
.caret-color-baseline-zero { caret-color: var(--baseline-zero); }
.caret-color-baseline-black { caret-color: var(--baseline-black); }
.accent-color-baseline-inherit { accent-color: var(--baseline-inherit); }
.accent-color-baseline-transparent { accent-color: var(--baseline-transparent); }
.accent-color-baseline-f { accent-color: var(--baseline-f); }
.accent-color-baseline-white { accent-color: var(--baseline-white); }
.accent-color-baseline-e { accent-color: var(--baseline-e); }
.accent-color-baseline-d { accent-color: var(--baseline-d); }
.accent-color-baseline-c { accent-color: var(--baseline-c); }
.accent-color-baseline-b { accent-color: var(--baseline-b); }
.accent-color-baseline-a { accent-color: var(--baseline-a); }
.accent-color-baseline-9 { accent-color: var(--baseline-9); }
.accent-color-baseline-nine { accent-color: var(--baseline-nine); }
.accent-color-baseline-8 { accent-color: var(--baseline-8); }
.accent-color-baseline-eight { accent-color: var(--baseline-eight); }
.accent-color-baseline-7 { accent-color: var(--baseline-7); }
.accent-color-baseline-seven { accent-color: var(--baseline-seven); }
.accent-color-baseline-6 { accent-color: var(--baseline-6); }
.accent-color-baseline-six { accent-color: var(--baseline-six); }
.accent-color-baseline-5 { accent-color: var(--baseline-5); }
.accent-color-baseline-five { accent-color: var(--baseline-five); }
.accent-color-baseline-4 { accent-color: var(--baseline-4); }
.accent-color-baseline-four { accent-color: var(--baseline-four); }
.accent-color-baseline-3 { accent-color: var(--baseline-3); }
.accent-color-baseline-three { accent-color: var(--baseline-three); }
.accent-color-baseline-2 { accent-color: var(--baseline-2); }
.accent-color-baseline-two { accent-color: var(--baseline-two); }
.accent-color-baseline-1 { accent-color: var(--baseline-1); }
.accent-color-baseline-one { accent-color: var(--baseline-one); }
.accent-color-baseline-0 { accent-color: var(--baseline-0); }
.accent-color-baseline-zero { accent-color: var(--baseline-zero); }
.accent-color-baseline-black { accent-color: var(--baseline-black); }
