/*! Colors.css 1.9.0 | MIT License | https://github.com/eustasy/colors.css */
/* $$ Baseline */
/* $ Backgrounds */
.background-0 { background: #000000; }
.background-1 { background: #111111; }
.background-2 { background: #222222; }
.background-3 { background: #333333; }
.background-4 { background: #444444; }
.background-5 { background: #555555; }
.background-6 { background: #666666; }
.background-7 { background: #777777; }
.background-8 { background: #888888; }
.background-9 { background: #999999; }
.background-inherit { background: inherit; }
.background-transparent { background: transparent; }
.background-f { background: #ffffff; }
.background-white { background: #ffffff; }
.background-e { background: #eeeeee; }
.background-d { background: #dddddd; }
.background-c { background: #cccccc; }
.background-b { background: #bbbbbb; }
.background-a { background: #aaaaaa; }
.background-nine { background: #999999; }
.background-eight { background: #888888; }
.background-seven { background: #777777; }
.background-six { background: #666666; }
.background-five { background: #555555; }
.background-four { background: #444444; }
.background-three { background: #333333; }
.background-two { background: #222222; }
.background-one { background: #111111; }
.background-zero { background: #000000; }
.background-black { background: #000000; }
/* $ Colors */
.color-0 { color: #000000; }
.color-1 { color: #111111; }
.color-2 { color: #222222; }
.color-3 { color: #333333; }
.color-4 { color: #444444; }
.color-5 { color: #555555; }
.color-6 { color: #666666; }
.color-7 { color: #777777; }
.color-8 { color: #888888; }
.color-9 { color: #999999; }
.color-inherit { color: inherit; }
.color-transparent { color: transparent; }
.color-f { color: #ffffff; }
.color-white { color: #ffffff; }
.color-e { color: #eeeeee; }
.color-d { color: #dddddd; }
.color-c { color: #cccccc; }
.color-b { color: #bbbbbb; }
.color-a { color: #aaaaaa; }
.color-nine { color: #999999; }
.color-eight { color: #888888; }
.color-seven { color: #777777; }
.color-six { color: #666666; }
.color-five { color: #555555; }
.color-four { color: #444444; }
.color-three { color: #333333; }
.color-two { color: #222222; }
.color-one { color: #111111; }
.color-zero { color: #000000; }
.color-black { color: #000000; }
/* $ Fills */
.fill-0 { fill: #000000; }
.fill-1 { fill: #111111; }
.fill-2 { fill: #222222; }
.fill-3 { fill: #333333; }
.fill-4 { fill: #444444; }
.fill-5 { fill: #555555; }
.fill-6 { fill: #666666; }
.fill-7 { fill: #777777; }
.fill-8 { fill: #888888; }
.fill-9 { fill: #999999; }
.fill-inherit { fill: inherit; }
.fill-transparent { fill: transparent; }
.fill-f { fill: #ffffff; }
.fill-white { fill: #ffffff; }
.fill-e { fill: #eeeeee; }
.fill-d { fill: #dddddd; }
.fill-c { fill: #cccccc; }
.fill-b { fill: #bbbbbb; }
.fill-a { fill: #aaaaaa; }
.fill-nine { fill: #999999; }
.fill-eight { fill: #888888; }
.fill-seven { fill: #777777; }
.fill-six { fill: #666666; }
.fill-five { fill: #555555; }
.fill-four { fill: #444444; }
.fill-three { fill: #333333; }
.fill-two { fill: #222222; }
.fill-one { fill: #111111; }
.fill-zero { fill: #000000; }
.fill-black { fill: #000000; }
/* $$ Flat UI */
/* $ Backgrounds */
.background-flatui-turquoise { background: #1abc9c; }
.background-flatui-green-sea { background: #16a085; }
.background-flatui-emerald { background: #2ecc71; }
.background-flatui-nephritis { background: #27ae60; }
.background-flatui-peter-river { background: #3498db; }
.background-flatui-belize-hole { background: #2980b9; }
.background-flatui-amethyst { background: #9b59b6; }
.background-flatui-wisteria { background: #8e44ad; }
.background-flatui-wet-asphalt { background: #34495e; }
.background-flatui-midnight-blue { background: #2c3e50; }
.background-flatui-sun-flower { background: #f1c40f; }
.background-flatui-orange { background: #f39c12; }
.background-flatui-carrot { background: #e67e22; }
.background-flatui-pumpkin { background: #d35400; }
.background-flatui-alizarin { background: #e74c3c; }
.background-flatui-pomegranate { background: #c0392b; }
.background-flatui-clouds { background: #ecf0f1; }
.background-flatui-silver { background: #bdc3c7; }
.background-flatui-concrete { background: #95a5a6; }
.background-flatui-asbestos { background: #7f8c8d; }
/* $ Colors */
.color-flatui-turquoise { color: #1abc9c; }
.color-flatui-green-sea { color: #16a085; }
.color-flatui-emerald { color: #2ecc71; }
.color-flatui-nephritis { color: #27ae60; }
.color-flatui-peter-river { color: #3498db; }
.color-flatui-belize-hole { color: #2980b9; }
.color-flatui-amethyst { color: #9b59b6; }
.color-flatui-wisteria { color: #8e44ad; }
.color-flatui-wet-asphalt { color: #34495e; }
.color-flatui-midnight-blue { color: #2c3e50; }
.color-flatui-sun-flower { color: #f1c40f; }
.color-flatui-orange { color: #f39c12; }
.color-flatui-carrot { color: #e67e22; }
.color-flatui-pumpkin { color: #d35400; }
.color-flatui-alizarin { color: #e74c3c; }
.color-flatui-pomegranate { color: #c0392b; }
.color-flatui-clouds { color: #ecf0f1; }
.color-flatui-silver { color: #bdc3c7; }
.color-flatui-concrete { color: #95a5a6; }
.color-flatui-asbestos { color: #7f8c8d; }
/* $ Fills */
.fill-flatui-turquoise { fill: #1abc9c; }
.fill-flatui-green-sea { fill: #16a085; }
.fill-flatui-emerald { fill: #2ecc71; }
.fill-flatui-nephritis { fill: #27ae60; }
.fill-flatui-peter-river { fill: #3498db; }
.fill-flatui-belize-hole { fill: #2980b9; }
.fill-flatui-amethyst { fill: #9b59b6; }
.fill-flatui-wisteria { fill: #8e44ad; }
.fill-flatui-wet-asphalt { fill: #34495e; }
.fill-flatui-midnight-blue { fill: #2c3e50; }
.fill-flatui-sun-flower { fill: #f1c40f; }
.fill-flatui-orange { fill: #f39c12; }
.fill-flatui-carrot { fill: #e67e22; }
.fill-flatui-pumpkin { fill: #d35400; }
.fill-flatui-alizarin { fill: #e74c3c; }
.fill-flatui-pomegranate { fill: #c0392b; }
.fill-flatui-clouds { fill: #ecf0f1; }
.fill-flatui-silver { fill: #bdc3c7; }
.fill-flatui-concrete { fill: #95a5a6; }
.fill-flatui-asbestos { fill: #7f8c8d; }
/* $$ elementary */
/* $ Backgrounds */
.background-elementary-strawberry { background: #c6262e; }
.background-elementary-strawberry-100 { background: #ed5353; }
.background-elementary-strawberry-300 { background: #ff8c82; }
.background-elementary-strawberry-500 { background: #c6262e; }
.background-elementary-strawberry-700 { background: #a10705; }
.background-elementary-strawberry-900 { background: #7a0000; }
.background-elementary-orange { background: #f37329; }
.background-elementary-orange-100 { background: #ffc27d; }
.background-elementary-orange-300 { background: #ffa154; }
.background-elementary-orange-500 { background: #f37329; }
.background-elementary-orange-700 { background: #cc3b02; }
.background-elementary-orange-900 { background: #a62100; }
.background-elementary-banana { background: #f9c440; }
.background-elementary-banana-100 { background: #fff394; }
.background-elementary-banana-300 { background: #ffe16b; }
.background-elementary-banana-500 { background: #f9c440; }
.background-elementary-banana-700 { background: #d48e15; }
.background-elementary-banana-900 { background: #ad5f00; }
.background-elementary-lime { background: #68b723; }
.background-elementary-lime-100 { background: #d1ff82; }
.background-elementary-lime-300 { background: #9bdb4d; }
.background-elementary-lime-500 { background: #68b723; }
.background-elementary-lime-700 { background: #3a9104; }
.background-elementary-lime-900 { background: #206b00; }
.background-elementary-blueberry { background: #3689e6; }
.background-elementary-blueberry-100 { background: #8cd5ff; }
.background-elementary-blueberry-300 { background: #64baff; }
.background-elementary-blueberry-500 { background: #3689e6; }
.background-elementary-blueberry-700 { background: #0d52bf; }
.background-elementary-blueberry-900 { background: #002e99; }
.background-elementary-grape { background: #7a36b1; }
.background-elementary-grape-100 { background: #e29ffc; }
.background-elementary-grape-300 { background: #ad65d6; }
.background-elementary-grape-500 { background: #7a36b1; }
.background-elementary-grape-700 { background: #4c158a; }
.background-elementary-grape-900 { background: #260063; }
.background-elementary-silver { background: #abacae; }
.background-elementary-silver-100 { background: #fafafa; }
.background-elementary-silver-300 { background: #d4d4d4; }
.background-elementary-silver-500 { background: #abacae; }
.background-elementary-silver-700 { background: #7e8087; }
.background-elementary-silver-900 { background: #555761; }
.background-elementary-slate { background: #485a6c; }
.background-elementary-slate-100 { background: #95a3ab; }
.background-elementary-slate-300 { background: #667885; }
.background-elementary-slate-500 { background: #485a6c; }
.background-elementary-slate-700 { background: #273445; }
.background-elementary-slate-900 { background: #0e141f; }
.background-elementary-black { background: #333333; }
.background-elementary-black-100 { background: #666666; }
.background-elementary-black-300 { background: #4d4d4d; }
.background-elementary-black-500 { background: #333333; }
.background-elementary-black-700 { background: #1a1a1a; }
.background-elementary-black-900 { background: #000000; }
/* $ Colors */
.color-elementary-strawberry { color: #c6262e; }
.color-elementary-strawberry-100 { color: #ed5353; }
.color-elementary-strawberry-300 { color: #ff8c82; }
.color-elementary-strawberry-500 { color: #c6262e; }
.color-elementary-strawberry-700 { color: #a10705; }
.color-elementary-strawberry-900 { color: #7a0000; }
.color-elementary-orange { color: #f37329; }
.color-elementary-orange-100 { color: #ffc27d; }
.color-elementary-orange-300 { color: #ffa154; }
.color-elementary-orange-500 { color: #f37329; }
.color-elementary-orange-700 { color: #cc3b02; }
.color-elementary-orange-900 { color: #a62100; }
.color-elementary-banana { color: #f9c440; }
.color-elementary-banana-100 { color: #fff394; }
.color-elementary-banana-300 { color: #ffe16b; }
.color-elementary-banana-500 { color: #f9c440; }
.color-elementary-banana-700 { color: #d48e15; }
.color-elementary-banana-900 { color: #ad5f00; }
.color-elementary-lime { color: #68b723; }
.color-elementary-lime-100 { color: #d1ff82; }
.color-elementary-lime-300 { color: #9bdb4d; }
.color-elementary-lime-500 { color: #68b723; }
.color-elementary-lime-700 { color: #3a9104; }
.color-elementary-lime-900 { color: #206b00; }
.color-elementary-blueberry { color: #3689e6; }
.color-elementary-blueberry-100 { color: #8cd5ff; }
.color-elementary-blueberry-300 { color: #64baff; }
.color-elementary-blueberry-500 { color: #3689e6; }
.color-elementary-blueberry-700 { color: #0d52bf; }
.color-elementary-blueberry-900 { color: #002e99; }
.color-elementary-grape { color: #7a36b1; }
.color-elementary-grape-100 { color: #e29ffc; }
.color-elementary-grape-300 { color: #ad65d6; }
.color-elementary-grape-500 { color: #7a36b1; }
.color-elementary-grape-700 { color: #4c158a; }
.color-elementary-grape-900 { color: #260063; }
.color-elementary-silver { color: #abacae; }
.color-elementary-silver-100 { color: #fafafa; }
.color-elementary-silver-300 { color: #d4d4d4; }
.color-elementary-silver-500 { color: #abacae; }
.color-elementary-silver-700 { color: #7e8087; }
.color-elementary-silver-900 { color: #555761; }
.color-elementary-slate { color: #485a6c; }
.color-elementary-slate-100 { color: #95a3ab; }
.color-elementary-slate-300 { color: #667885; }
.color-elementary-slate-500 { color: #485a6c; }
.color-elementary-slate-700 { color: #273445; }
.color-elementary-slate-900 { color: #0e141f; }
.color-elementary-black { color: #333333; }
.color-elementary-black-100 { color: #666666; }
.color-elementary-black-300 { color: #4d4d4d; }
.color-elementary-black-500 { color: #333333; }
.color-elementary-black-700 { color: #1a1a1a; }
.color-elementary-black-900 { color: #000000; }
/* $ Fills */
.fill-elementary-strawberry { fill: #c6262e; }
.fill-elementary-strawberry-100 { fill: #ed5353; }
.fill-elementary-strawberry-300 { fill: #ff8c82; }
.fill-elementary-strawberry-500 { fill: #c6262e; }
.fill-elementary-strawberry-700 { fill: #a10705; }
.fill-elementary-strawberry-900 { fill: #7a0000; }
.fill-elementary-orange { fill: #f37329; }
.fill-elementary-orange-100 { fill: #ffc27d; }
.fill-elementary-orange-300 { fill: #ffa154; }
.fill-elementary-orange-500 { fill: #f37329; }
.fill-elementary-orange-700 { fill: #cc3b02; }
.fill-elementary-orange-900 { fill: #a62100; }
.fill-elementary-banana { fill: #f9c440; }
.fill-elementary-banana-100 { fill: #fff394; }
.fill-elementary-banana-300 { fill: #ffe16b; }
.fill-elementary-banana-500 { fill: #f9c440; }
.fill-elementary-banana-700 { fill: #d48e15; }
.fill-elementary-banana-900 { fill: #ad5f00; }
.fill-elementary-lime { fill: #68b723; }
.fill-elementary-lime-100 { fill: #d1ff82; }
.fill-elementary-lime-300 { fill: #9bdb4d; }
.fill-elementary-lime-500 { fill: #68b723; }
.fill-elementary-lime-700 { fill: #3a9104; }
.fill-elementary-lime-900 { fill: #206b00; }
.fill-elementary-blueberry { fill: #3689e6; }
.fill-elementary-blueberry-100 { fill: #8cd5ff; }
.fill-elementary-blueberry-300 { fill: #64baff; }
.fill-elementary-blueberry-500 { fill: #3689e6; }
.fill-elementary-blueberry-700 { fill: #0d52bf; }
.fill-elementary-blueberry-900 { fill: #002e99; }
.fill-elementary-grape { fill: #7a36b1; }
.fill-elementary-grape-100 { fill: #e29ffc; }
.fill-elementary-grape-300 { fill: #ad65d6; }
.fill-elementary-grape-500 { fill: #7a36b1; }
.fill-elementary-grape-700 { fill: #4c158a; }
.fill-elementary-grape-900 { fill: #260063; }
.fill-elementary-silver { fill: #abacae; }
.fill-elementary-silver-100 { fill: #fafafa; }
.fill-elementary-silver-300 { fill: #d4d4d4; }
.fill-elementary-silver-500 { fill: #abacae; }
.fill-elementary-silver-700 { fill: #7e8087; }
.fill-elementary-silver-900 { fill: #555761; }
.fill-elementary-slate { fill: #485a6c; }
.fill-elementary-slate-100 { fill: #95a3ab; }
.fill-elementary-slate-300 { fill: #667885; }
.fill-elementary-slate-500 { fill: #485a6c; }
.fill-elementary-slate-700 { fill: #273445; }
.fill-elementary-slate-900 { fill: #0e141f; }
.fill-elementary-black { fill: #333333; }
.fill-elementary-black-100 { fill: #666666; }
.fill-elementary-black-300 { fill: #4d4d4d; }
.fill-elementary-black-500 { fill: #333333; }
.fill-elementary-black-700 { fill: #1a1a1a; }
.fill-elementary-black-900 { fill: #000000; }
