/*! Colors.css 2.0.2 | elementary Palette | MIT License | https://github.com/eustasy/colors.css */
--elementary-strawberry: #c6262e;
--elementary-strawberry-100: #ff8c82;
--elementary-strawberry-300: #ed5353;
--elementary-strawberry-500: #c6262e;
--elementary-strawberry-700: #a10705;
--elementary-strawberry-900: #7a0000;
--elementary-orange: #f37329;
--elementary-orange-100: #ffc27d;
--elementary-orange-300: #ffa154;
--elementary-orange-500: #f37329;
--elementary-orange-700: #cc3b02;
--elementary-orange-900: #a62100;
--elementary-banana: #f9c440;
--elementary-banana-100: #fff394;
--elementary-banana-300: #ffe16b;
--elementary-banana-500: #f9c440;
--elementary-banana-700: #d48e15;
--elementary-banana-900: #ad5f00;
--elementary-lime: #68b723;
--elementary-lime-100: #d1ff82;
--elementary-lime-300: #9bdb4d;
--elementary-lime-500: #68b723;
--elementary-lime-700: #3a9104;
--elementary-lime-900: #206b00;
--elementary-blueberry: #3689e6;
--elementary-blueberry-100: #8cd5ff;
--elementary-blueberry-300: #64baff;
--elementary-blueberry-500: #3689e6;
--elementary-blueberry-700: #0d52bf;
--elementary-blueberry-900: #002e99;
--elementary-grape: #a56de2;
--elementary-grape-100: #e4c6fa;
--elementary-grape-300: #cd9ef7;
--elementary-grape-500: #a56de2;
--elementary-grape-700: #7239b3;
--elementary-grape-900: #452981;
--elementary-bubblegum: #de3e80;
--elementary-bubblegum-100: #fe9ab8;
--elementary-bubblegum-300: #f4679d;
--elementary-bubblegum-500: #de3e80;
--elementary-bubblegum-700: #bc245d;
--elementary-bubblegum-900: #910e38;
--elementary-cocoa: #715344;
--elementary-cocoa-100: #a3907c;
--elementary-cocoa-300: #8a715e;
--elementary-cocoa-500: #715344;
--elementary-cocoa-700: #57392d;
--elementary-cocoa-900: #3d211b;
--elementary-silver: #abacae;
--elementary-silver-100: #fafafa;
--elementary-silver-300: #d4d4d4;
--elementary-silver-500: #abacae;
--elementary-silver-700: #7e8087;
--elementary-silver-900: #555761;
--elementary-slate: #485a6c;
--elementary-slate-100: #95a3ab;
--elementary-slate-300: #667885;
--elementary-slate-500: #485a6c;
--elementary-slate-700: #273445;
--elementary-slate-900: #0e141f;
--elementary-black: #333333;
--elementary-black-100: #666666;
--elementary-black-300: #4d4d4d;
--elementary-black-500: #333333;
--elementary-black-700: #1a1a1a;
--elementary-black-900: #000000;
.background-elementary-strawberry { background: #c6262e; }
.background-elementary-strawberry-100 { background: #ff8c82; }
.background-elementary-strawberry-300 { background: #ed5353; }
.background-elementary-strawberry-500 { background: #c6262e; }
.background-elementary-strawberry-700 { background: #a10705; }
.background-elementary-strawberry-900 { background: #7a0000; }
.background-elementary-orange { background: #f37329; }
.background-elementary-orange-100 { background: #ffc27d; }
.background-elementary-orange-300 { background: #ffa154; }
.background-elementary-orange-500 { background: #f37329; }
.background-elementary-orange-700 { background: #cc3b02; }
.background-elementary-orange-900 { background: #a62100; }
.background-elementary-banana { background: #f9c440; }
.background-elementary-banana-100 { background: #fff394; }
.background-elementary-banana-300 { background: #ffe16b; }
.background-elementary-banana-500 { background: #f9c440; }
.background-elementary-banana-700 { background: #d48e15; }
.background-elementary-banana-900 { background: #ad5f00; }
.background-elementary-lime { background: #68b723; }
.background-elementary-lime-100 { background: #d1ff82; }
.background-elementary-lime-300 { background: #9bdb4d; }
.background-elementary-lime-500 { background: #68b723; }
.background-elementary-lime-700 { background: #3a9104; }
.background-elementary-lime-900 { background: #206b00; }
.background-elementary-blueberry { background: #3689e6; }
.background-elementary-blueberry-100 { background: #8cd5ff; }
.background-elementary-blueberry-300 { background: #64baff; }
.background-elementary-blueberry-500 { background: #3689e6; }
.background-elementary-blueberry-700 { background: #0d52bf; }
.background-elementary-blueberry-900 { background: #002e99; }
.background-elementary-grape { background: #a56de2; }
.background-elementary-grape-100 { background: #e4c6fa; }
.background-elementary-grape-300 { background: #cd9ef7; }
.background-elementary-grape-500 { background: #a56de2; }
.background-elementary-grape-700 { background: #7239b3; }
.background-elementary-grape-900 { background: #452981; }
.background-elementary-bubblegum { background: #de3e80; }
.background-elementary-bubblegum-100 { background: #fe9ab8; }
.background-elementary-bubblegum-300 { background: #f4679d; }
.background-elementary-bubblegum-500 { background: #de3e80; }
.background-elementary-bubblegum-700 { background: #bc245d; }
.background-elementary-bubblegum-900 { background: #910e38; }
.background-elementary-cocoa { background: #715344; }
.background-elementary-cocoa-100 { background: #a3907c; }
.background-elementary-cocoa-300 { background: #8a715e; }
.background-elementary-cocoa-500 { background: #715344; }
.background-elementary-cocoa-700 { background: #57392d; }
.background-elementary-cocoa-900 { background: #3d211b; }
.background-elementary-silver { background: #abacae; }
.background-elementary-silver-100 { background: #fafafa; }
.background-elementary-silver-300 { background: #d4d4d4; }
.background-elementary-silver-500 { background: #abacae; }
.background-elementary-silver-700 { background: #7e8087; }
.background-elementary-silver-900 { background: #555761; }
.background-elementary-slate { background: #485a6c; }
.background-elementary-slate-100 { background: #95a3ab; }
.background-elementary-slate-300 { background: #667885; }
.background-elementary-slate-500 { background: #485a6c; }
.background-elementary-slate-700 { background: #273445; }
.background-elementary-slate-900 { background: #0e141f; }
.background-elementary-black { background: #333333; }
.background-elementary-black-100 { background: #666666; }
.background-elementary-black-300 { background: #4d4d4d; }
.background-elementary-black-500 { background: #333333; }
.background-elementary-black-700 { background: #1a1a1a; }
.background-elementary-black-900 { background: #000000; }
.color-elementary-strawberry { color: #c6262e; }
.color-elementary-strawberry-100 { color: #ff8c82; }
.color-elementary-strawberry-300 { color: #ed5353; }
.color-elementary-strawberry-500 { color: #c6262e; }
.color-elementary-strawberry-700 { color: #a10705; }
.color-elementary-strawberry-900 { color: #7a0000; }
.color-elementary-orange { color: #f37329; }
.color-elementary-orange-100 { color: #ffc27d; }
.color-elementary-orange-300 { color: #ffa154; }
.color-elementary-orange-500 { color: #f37329; }
.color-elementary-orange-700 { color: #cc3b02; }
.color-elementary-orange-900 { color: #a62100; }
.color-elementary-banana { color: #f9c440; }
.color-elementary-banana-100 { color: #fff394; }
.color-elementary-banana-300 { color: #ffe16b; }
.color-elementary-banana-500 { color: #f9c440; }
.color-elementary-banana-700 { color: #d48e15; }
.color-elementary-banana-900 { color: #ad5f00; }
.color-elementary-lime { color: #68b723; }
.color-elementary-lime-100 { color: #d1ff82; }
.color-elementary-lime-300 { color: #9bdb4d; }
.color-elementary-lime-500 { color: #68b723; }
.color-elementary-lime-700 { color: #3a9104; }
.color-elementary-lime-900 { color: #206b00; }
.color-elementary-blueberry { color: #3689e6; }
.color-elementary-blueberry-100 { color: #8cd5ff; }
.color-elementary-blueberry-300 { color: #64baff; }
.color-elementary-blueberry-500 { color: #3689e6; }
.color-elementary-blueberry-700 { color: #0d52bf; }
.color-elementary-blueberry-900 { color: #002e99; }
.color-elementary-grape { color: #a56de2; }
.color-elementary-grape-100 { color: #e4c6fa; }
.color-elementary-grape-300 { color: #cd9ef7; }
.color-elementary-grape-500 { color: #a56de2; }
.color-elementary-grape-700 { color: #7239b3; }
.color-elementary-grape-900 { color: #452981; }
.color-elementary-bubblegum { color: #de3e80; }
.color-elementary-bubblegum-100 { color: #fe9ab8; }
.color-elementary-bubblegum-300 { color: #f4679d; }
.color-elementary-bubblegum-500 { color: #de3e80; }
.color-elementary-bubblegum-700 { color: #bc245d; }
.color-elementary-bubblegum-900 { color: #910e38; }
.color-elementary-cocoa { color: #715344; }
.color-elementary-cocoa-100 { color: #a3907c; }
.color-elementary-cocoa-300 { color: #8a715e; }
.color-elementary-cocoa-500 { color: #715344; }
.color-elementary-cocoa-700 { color: #57392d; }
.color-elementary-cocoa-900 { color: #3d211b; }
.color-elementary-silver { color: #abacae; }
.color-elementary-silver-100 { color: #fafafa; }
.color-elementary-silver-300 { color: #d4d4d4; }
.color-elementary-silver-500 { color: #abacae; }
.color-elementary-silver-700 { color: #7e8087; }
.color-elementary-silver-900 { color: #555761; }
.color-elementary-slate { color: #485a6c; }
.color-elementary-slate-100 { color: #95a3ab; }
.color-elementary-slate-300 { color: #667885; }
.color-elementary-slate-500 { color: #485a6c; }
.color-elementary-slate-700 { color: #273445; }
.color-elementary-slate-900 { color: #0e141f; }
.color-elementary-black { color: #333333; }
.color-elementary-black-100 { color: #666666; }
.color-elementary-black-300 { color: #4d4d4d; }
.color-elementary-black-500 { color: #333333; }
.color-elementary-black-700 { color: #1a1a1a; }
.color-elementary-black-900 { color: #000000; }
.fill-elementary-strawberry { fill: #c6262e; }
.fill-elementary-strawberry-100 { fill: #ff8c82; }
.fill-elementary-strawberry-300 { fill: #ed5353; }
.fill-elementary-strawberry-500 { fill: #c6262e; }
.fill-elementary-strawberry-700 { fill: #a10705; }
.fill-elementary-strawberry-900 { fill: #7a0000; }
.fill-elementary-orange { fill: #f37329; }
.fill-elementary-orange-100 { fill: #ffc27d; }
.fill-elementary-orange-300 { fill: #ffa154; }
.fill-elementary-orange-500 { fill: #f37329; }
.fill-elementary-orange-700 { fill: #cc3b02; }
.fill-elementary-orange-900 { fill: #a62100; }
.fill-elementary-banana { fill: #f9c440; }
.fill-elementary-banana-100 { fill: #fff394; }
.fill-elementary-banana-300 { fill: #ffe16b; }
.fill-elementary-banana-500 { fill: #f9c440; }
.fill-elementary-banana-700 { fill: #d48e15; }
.fill-elementary-banana-900 { fill: #ad5f00; }
.fill-elementary-lime { fill: #68b723; }
.fill-elementary-lime-100 { fill: #d1ff82; }
.fill-elementary-lime-300 { fill: #9bdb4d; }
.fill-elementary-lime-500 { fill: #68b723; }
.fill-elementary-lime-700 { fill: #3a9104; }
.fill-elementary-lime-900 { fill: #206b00; }
.fill-elementary-blueberry { fill: #3689e6; }
.fill-elementary-blueberry-100 { fill: #8cd5ff; }
.fill-elementary-blueberry-300 { fill: #64baff; }
.fill-elementary-blueberry-500 { fill: #3689e6; }
.fill-elementary-blueberry-700 { fill: #0d52bf; }
.fill-elementary-blueberry-900 { fill: #002e99; }
.fill-elementary-grape { fill: #a56de2; }
.fill-elementary-grape-100 { fill: #e4c6fa; }
.fill-elementary-grape-300 { fill: #cd9ef7; }
.fill-elementary-grape-500 { fill: #a56de2; }
.fill-elementary-grape-700 { fill: #7239b3; }
.fill-elementary-grape-900 { fill: #452981; }
.fill-elementary-bubblegum { fill: #de3e80; }
.fill-elementary-bubblegum-100 { fill: #fe9ab8; }
.fill-elementary-bubblegum-300 { fill: #f4679d; }
.fill-elementary-bubblegum-500 { fill: #de3e80; }
.fill-elementary-bubblegum-700 { fill: #bc245d; }
.fill-elementary-bubblegum-900 { fill: #910e38; }
.fill-elementary-cocoa { fill: #715344; }
.fill-elementary-cocoa-100 { fill: #a3907c; }
.fill-elementary-cocoa-300 { fill: #8a715e; }
.fill-elementary-cocoa-500 { fill: #715344; }
.fill-elementary-cocoa-700 { fill: #57392d; }
.fill-elementary-cocoa-900 { fill: #3d211b; }
.fill-elementary-silver { fill: #abacae; }
.fill-elementary-silver-100 { fill: #fafafa; }
.fill-elementary-silver-300 { fill: #d4d4d4; }
.fill-elementary-silver-500 { fill: #abacae; }
.fill-elementary-silver-700 { fill: #7e8087; }
.fill-elementary-silver-900 { fill: #555761; }
.fill-elementary-slate { fill: #485a6c; }
.fill-elementary-slate-100 { fill: #95a3ab; }
.fill-elementary-slate-300 { fill: #667885; }
.fill-elementary-slate-500 { fill: #485a6c; }
.fill-elementary-slate-700 { fill: #273445; }
.fill-elementary-slate-900 { fill: #0e141f; }
.fill-elementary-black { fill: #333333; }
.fill-elementary-black-100 { fill: #666666; }
.fill-elementary-black-300 { fill: #4d4d4d; }
.fill-elementary-black-500 { fill: #333333; }
.fill-elementary-black-700 { fill: #1a1a1a; }
.fill-elementary-black-900 { fill: #000000; }
