/*! Colors.css 2.0.7 | elementary Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--elementary-strawberry: #c6262e;
	--elementary-strawberry-text: #330000;
	--elementary-strawberry-100: #ff8c82;
	--elementary-strawberry-300: #ed5353;
	--elementary-strawberry-500: #c6262e;
	--elementary-strawberry-700: #a10705;
	--elementary-strawberry-900: #7a0000;
	--elementary-orange: #f37329;
	--elementary-orange-text: #4d0f00;
	--elementary-orange-100: #ffc27d;
	--elementary-orange-300: #ffa154;
	--elementary-orange-500: #f37329;
	--elementary-orange-700: #cc3b02;
	--elementary-orange-900: #a62100;
	--elementary-banana: #f9c440;
	--elementary-banana-text: #381f00;
	--elementary-banana-100: #fff394;
	--elementary-banana-300: #ffe16b;
	--elementary-banana-500: #f9c440;
	--elementary-banana-700: #d48e15;
	--elementary-banana-900: #ad5f00;
	--elementary-lime: #68b723;
	--elementary-lime-text: #0b2400;
	--elementary-lime-100: #d1ff82;
	--elementary-lime-300: #9bdb4d;
	--elementary-lime-500: #68b723;
	--elementary-lime-700: #3a9104;
	--elementary-lime-900: #206b00;
	--elementary-mint: #28bca3;
	--elementary-mint-text: #003933;
	--elementary-mint-100: #89ffdd;
	--elementary-mint-300: #43d6b5;
	--elementary-mint-500: #28bca3;
	--elementary-mint-700: #0e9a83;
	--elementary-mint-900: #007367;
	--elementary-blueberry: #3689e6;
	--elementary-blueberry-text: #000f33;
	--elementary-blueberry-100: #8cd5ff;
	--elementary-blueberry-300: #64baff;
	--elementary-blueberry-500: #3689e6;
	--elementary-blueberry-700: #0d52bf;
	--elementary-blueberry-900: #002e99;
	--elementary-grape: #a56de2;
	--elementary-grape-text: #160038;
	--elementary-grape-100: #e4c6fa;
	--elementary-grape-300: #cd9ef7;
	--elementary-grape-500: #a56de2;
	--elementary-grape-700: #7239b3;
	--elementary-grape-900: #452981;
	--elementary-bubblegum: #de3e80;
	--elementary-bubblegum-text: #5b0823;
	--elementary-bubblegum-100: #fe9ab8;
	--elementary-bubblegum-300: #f4679d;
	--elementary-bubblegum-500: #de3e80;
	--elementary-bubblegum-700: #bc245d;
	--elementary-bubblegum-900: #910e38;
	--elementary-cocoa: #715344;
	--elementary-cocoa-100: #a3907c;
	--elementary-cocoa-300: #8a715e;
	--elementary-cocoa-500: #715344;
	--elementary-cocoa-700: #57392d;
	--elementary-cocoa-900: #3d211b;
	--elementary-silver: #abacae;
	--elementary-silver-text: #1a1a1a;
	--elementary-silver-100: #fafafa;
	--elementary-silver-300: #d4d4d4;
	--elementary-silver-500: #abacae;
	--elementary-silver-700: #7e8087;
	--elementary-silver-900: #555761;
	--elementary-slate: #485a6c;
	--elementary-slate-text: #0e141f;
	--elementary-slate-100: #95a3ab;
	--elementary-slate-300: #667885;
	--elementary-slate-500: #485a6c;
	--elementary-slate-700: #273445;
	--elementary-slate-900: #0e141f;
	--elementary-black: #333333;
	--elementary-black-100: #666666;
	--elementary-black-300: #4d4d4d;
	--elementary-black-500: #333333;
	--elementary-black-700: #1a1a1a;
	--elementary-black-900: #000000;
}
.background-elementary-strawberry { background: var(--elementary-strawberry); }
.background-elementary-strawberry-text { background: var(--elementary-strawberry-text); }
.background-elementary-strawberry-100 { background: var(--elementary-strawberry-100); }
.background-elementary-strawberry-300 { background: var(--elementary-strawberry-300); }
.background-elementary-strawberry-500 { background: var(--elementary-strawberry-500); }
.background-elementary-strawberry-700 { background: var(--elementary-strawberry-700); }
.background-elementary-strawberry-900 { background: var(--elementary-strawberry-900); }
.background-elementary-orange { background: var(--elementary-orange); }
.background-elementary-orange-text { background: var(--elementary-orange-text); }
.background-elementary-orange-100 { background: var(--elementary-orange-100); }
.background-elementary-orange-300 { background: var(--elementary-orange-300); }
.background-elementary-orange-500 { background: var(--elementary-orange-500); }
.background-elementary-orange-700 { background: var(--elementary-orange-700); }
.background-elementary-orange-900 { background: var(--elementary-orange-900); }
.background-elementary-banana { background: var(--elementary-banana); }
.background-elementary-banana-text { background: var(--elementary-banana-text); }
.background-elementary-banana-100 { background: var(--elementary-banana-100); }
.background-elementary-banana-300 { background: var(--elementary-banana-300); }
.background-elementary-banana-500 { background: var(--elementary-banana-500); }
.background-elementary-banana-700 { background: var(--elementary-banana-700); }
.background-elementary-banana-900 { background: var(--elementary-banana-900); }
.background-elementary-lime { background: var(--elementary-lime); }
.background-elementary-lime-text { background: var(--elementary-lime-text); }
.background-elementary-lime-100 { background: var(--elementary-lime-100); }
.background-elementary-lime-300 { background: var(--elementary-lime-300); }
.background-elementary-lime-500 { background: var(--elementary-lime-500); }
.background-elementary-lime-700 { background: var(--elementary-lime-700); }
.background-elementary-lime-900 { background: var(--elementary-lime-900); }
.background-elementary-mint { background: var(--elementary-mint); }
.background-elementary-mint-text { background: var(--elementary-mint-text); }
.background-elementary-mint-100 { background: var(--elementary-mint-100); }
.background-elementary-mint-300 { background: var(--elementary-mint-300); }
.background-elementary-mint-500 { background: var(--elementary-mint-500); }
.background-elementary-mint-700 { background: var(--elementary-mint-700); }
.background-elementary-mint-900 { background: var(--elementary-mint-900); }
.background-elementary-blueberry { background: var(--elementary-blueberry); }
.background-elementary-blueberry-text { background: var(--elementary-blueberry-text); }
.background-elementary-blueberry-100 { background: var(--elementary-blueberry-100); }
.background-elementary-blueberry-300 { background: var(--elementary-blueberry-300); }
.background-elementary-blueberry-500 { background: var(--elementary-blueberry-500); }
.background-elementary-blueberry-700 { background: var(--elementary-blueberry-700); }
.background-elementary-blueberry-900 { background: var(--elementary-blueberry-900); }
.background-elementary-grape { background: var(--elementary-grape); }
.background-elementary-grape-text { background: var(--elementary-grape-text); }
.background-elementary-grape-100 { background: var(--elementary-grape-100); }
.background-elementary-grape-300 { background: var(--elementary-grape-300); }
.background-elementary-grape-500 { background: var(--elementary-grape-500); }
.background-elementary-grape-700 { background: var(--elementary-grape-700); }
.background-elementary-grape-900 { background: var(--elementary-grape-900); }
.background-elementary-bubblegum { background: var(--elementary-bubblegum); }
.background-elementary-bubblegum-text { background: var(--elementary-bubblegum-text); }
.background-elementary-bubblegum-100 { background: var(--elementary-bubblegum-100); }
.background-elementary-bubblegum-300 { background: var(--elementary-bubblegum-300); }
.background-elementary-bubblegum-500 { background: var(--elementary-bubblegum-500); }
.background-elementary-bubblegum-700 { background: var(--elementary-bubblegum-700); }
.background-elementary-bubblegum-900 { background: var(--elementary-bubblegum-900); }
.background-elementary-cocoa { background: var(--elementary-cocoa); }
.background-elementary-cocoa-100 { background: var(--elementary-cocoa-100); }
.background-elementary-cocoa-300 { background: var(--elementary-cocoa-300); }
.background-elementary-cocoa-500 { background: var(--elementary-cocoa-500); }
.background-elementary-cocoa-700 { background: var(--elementary-cocoa-700); }
.background-elementary-cocoa-900 { background: var(--elementary-cocoa-900); }
.background-elementary-silver { background: var(--elementary-silver); }
.background-elementary-silver-text { background: var(--elementary-silver-text); }
.background-elementary-silver-100 { background: var(--elementary-silver-100); }
.background-elementary-silver-300 { background: var(--elementary-silver-300); }
.background-elementary-silver-500 { background: var(--elementary-silver-500); }
.background-elementary-silver-700 { background: var(--elementary-silver-700); }
.background-elementary-silver-900 { background: var(--elementary-silver-900); }
.background-elementary-slate { background: var(--elementary-slate); }
.background-elementary-slate-text { background: var(--elementary-slate-text); }
.background-elementary-slate-100 { background: var(--elementary-slate-100); }
.background-elementary-slate-300 { background: var(--elementary-slate-300); }
.background-elementary-slate-500 { background: var(--elementary-slate-500); }
.background-elementary-slate-700 { background: var(--elementary-slate-700); }
.background-elementary-slate-900 { background: var(--elementary-slate-900); }
.background-elementary-black { background: var(--elementary-black); }
.background-elementary-black-100 { background: var(--elementary-black-100); }
.background-elementary-black-300 { background: var(--elementary-black-300); }
.background-elementary-black-500 { background: var(--elementary-black-500); }
.background-elementary-black-700 { background: var(--elementary-black-700); }
.background-elementary-black-900 { background: var(--elementary-black-900); }
.color-elementary-strawberry { color: var(--elementary-strawberry); }
.color-elementary-strawberry-text { color: var(--elementary-strawberry-text); }
.color-elementary-strawberry-100 { color: var(--elementary-strawberry-100); }
.color-elementary-strawberry-300 { color: var(--elementary-strawberry-300); }
.color-elementary-strawberry-500 { color: var(--elementary-strawberry-500); }
.color-elementary-strawberry-700 { color: var(--elementary-strawberry-700); }
.color-elementary-strawberry-900 { color: var(--elementary-strawberry-900); }
.color-elementary-orange { color: var(--elementary-orange); }
.color-elementary-orange-text { color: var(--elementary-orange-text); }
.color-elementary-orange-100 { color: var(--elementary-orange-100); }
.color-elementary-orange-300 { color: var(--elementary-orange-300); }
.color-elementary-orange-500 { color: var(--elementary-orange-500); }
.color-elementary-orange-700 { color: var(--elementary-orange-700); }
.color-elementary-orange-900 { color: var(--elementary-orange-900); }
.color-elementary-banana { color: var(--elementary-banana); }
.color-elementary-banana-text { color: var(--elementary-banana-text); }
.color-elementary-banana-100 { color: var(--elementary-banana-100); }
.color-elementary-banana-300 { color: var(--elementary-banana-300); }
.color-elementary-banana-500 { color: var(--elementary-banana-500); }
.color-elementary-banana-700 { color: var(--elementary-banana-700); }
.color-elementary-banana-900 { color: var(--elementary-banana-900); }
.color-elementary-lime { color: var(--elementary-lime); }
.color-elementary-lime-text { color: var(--elementary-lime-text); }
.color-elementary-lime-100 { color: var(--elementary-lime-100); }
.color-elementary-lime-300 { color: var(--elementary-lime-300); }
.color-elementary-lime-500 { color: var(--elementary-lime-500); }
.color-elementary-lime-700 { color: var(--elementary-lime-700); }
.color-elementary-lime-900 { color: var(--elementary-lime-900); }
.color-elementary-mint { color: var(--elementary-mint); }
.color-elementary-mint-text { color: var(--elementary-mint-text); }
.color-elementary-mint-100 { color: var(--elementary-mint-100); }
.color-elementary-mint-300 { color: var(--elementary-mint-300); }
.color-elementary-mint-500 { color: var(--elementary-mint-500); }
.color-elementary-mint-700 { color: var(--elementary-mint-700); }
.color-elementary-mint-900 { color: var(--elementary-mint-900); }
.color-elementary-blueberry { color: var(--elementary-blueberry); }
.color-elementary-blueberry-text { color: var(--elementary-blueberry-text); }
.color-elementary-blueberry-100 { color: var(--elementary-blueberry-100); }
.color-elementary-blueberry-300 { color: var(--elementary-blueberry-300); }
.color-elementary-blueberry-500 { color: var(--elementary-blueberry-500); }
.color-elementary-blueberry-700 { color: var(--elementary-blueberry-700); }
.color-elementary-blueberry-900 { color: var(--elementary-blueberry-900); }
.color-elementary-grape { color: var(--elementary-grape); }
.color-elementary-grape-text { color: var(--elementary-grape-text); }
.color-elementary-grape-100 { color: var(--elementary-grape-100); }
.color-elementary-grape-300 { color: var(--elementary-grape-300); }
.color-elementary-grape-500 { color: var(--elementary-grape-500); }
.color-elementary-grape-700 { color: var(--elementary-grape-700); }
.color-elementary-grape-900 { color: var(--elementary-grape-900); }
.color-elementary-bubblegum { color: var(--elementary-bubblegum); }
.color-elementary-bubblegum-text { color: var(--elementary-bubblegum-text); }
.color-elementary-bubblegum-100 { color: var(--elementary-bubblegum-100); }
.color-elementary-bubblegum-300 { color: var(--elementary-bubblegum-300); }
.color-elementary-bubblegum-500 { color: var(--elementary-bubblegum-500); }
.color-elementary-bubblegum-700 { color: var(--elementary-bubblegum-700); }
.color-elementary-bubblegum-900 { color: var(--elementary-bubblegum-900); }
.color-elementary-cocoa { color: var(--elementary-cocoa); }
.color-elementary-cocoa-100 { color: var(--elementary-cocoa-100); }
.color-elementary-cocoa-300 { color: var(--elementary-cocoa-300); }
.color-elementary-cocoa-500 { color: var(--elementary-cocoa-500); }
.color-elementary-cocoa-700 { color: var(--elementary-cocoa-700); }
.color-elementary-cocoa-900 { color: var(--elementary-cocoa-900); }
.color-elementary-silver { color: var(--elementary-silver); }
.color-elementary-silver-text { color: var(--elementary-silver-text); }
.color-elementary-silver-100 { color: var(--elementary-silver-100); }
.color-elementary-silver-300 { color: var(--elementary-silver-300); }
.color-elementary-silver-500 { color: var(--elementary-silver-500); }
.color-elementary-silver-700 { color: var(--elementary-silver-700); }
.color-elementary-silver-900 { color: var(--elementary-silver-900); }
.color-elementary-slate { color: var(--elementary-slate); }
.color-elementary-slate-text { color: var(--elementary-slate-text); }
.color-elementary-slate-100 { color: var(--elementary-slate-100); }
.color-elementary-slate-300 { color: var(--elementary-slate-300); }
.color-elementary-slate-500 { color: var(--elementary-slate-500); }
.color-elementary-slate-700 { color: var(--elementary-slate-700); }
.color-elementary-slate-900 { color: var(--elementary-slate-900); }
.color-elementary-black { color: var(--elementary-black); }
.color-elementary-black-100 { color: var(--elementary-black-100); }
.color-elementary-black-300 { color: var(--elementary-black-300); }
.color-elementary-black-500 { color: var(--elementary-black-500); }
.color-elementary-black-700 { color: var(--elementary-black-700); }
.color-elementary-black-900 { color: var(--elementary-black-900); }
.fill-elementary-strawberry { fill: var(--elementary-strawberry); }
.fill-elementary-strawberry-text { fill: var(--elementary-strawberry-text); }
.fill-elementary-strawberry-100 { fill: var(--elementary-strawberry-100); }
.fill-elementary-strawberry-300 { fill: var(--elementary-strawberry-300); }
.fill-elementary-strawberry-500 { fill: var(--elementary-strawberry-500); }
.fill-elementary-strawberry-700 { fill: var(--elementary-strawberry-700); }
.fill-elementary-strawberry-900 { fill: var(--elementary-strawberry-900); }
.fill-elementary-orange { fill: var(--elementary-orange); }
.fill-elementary-orange-text { fill: var(--elementary-orange-text); }
.fill-elementary-orange-100 { fill: var(--elementary-orange-100); }
.fill-elementary-orange-300 { fill: var(--elementary-orange-300); }
.fill-elementary-orange-500 { fill: var(--elementary-orange-500); }
.fill-elementary-orange-700 { fill: var(--elementary-orange-700); }
.fill-elementary-orange-900 { fill: var(--elementary-orange-900); }
.fill-elementary-banana { fill: var(--elementary-banana); }
.fill-elementary-banana-text { fill: var(--elementary-banana-text); }
.fill-elementary-banana-100 { fill: var(--elementary-banana-100); }
.fill-elementary-banana-300 { fill: var(--elementary-banana-300); }
.fill-elementary-banana-500 { fill: var(--elementary-banana-500); }
.fill-elementary-banana-700 { fill: var(--elementary-banana-700); }
.fill-elementary-banana-900 { fill: var(--elementary-banana-900); }
.fill-elementary-lime { fill: var(--elementary-lime); }
.fill-elementary-lime-text { fill: var(--elementary-lime-text); }
.fill-elementary-lime-100 { fill: var(--elementary-lime-100); }
.fill-elementary-lime-300 { fill: var(--elementary-lime-300); }
.fill-elementary-lime-500 { fill: var(--elementary-lime-500); }
.fill-elementary-lime-700 { fill: var(--elementary-lime-700); }
.fill-elementary-lime-900 { fill: var(--elementary-lime-900); }
.fill-elementary-mint { fill: var(--elementary-mint); }
.fill-elementary-mint-text { fill: var(--elementary-mint-text); }
.fill-elementary-mint-100 { fill: var(--elementary-mint-100); }
.fill-elementary-mint-300 { fill: var(--elementary-mint-300); }
.fill-elementary-mint-500 { fill: var(--elementary-mint-500); }
.fill-elementary-mint-700 { fill: var(--elementary-mint-700); }
.fill-elementary-mint-900 { fill: var(--elementary-mint-900); }
.fill-elementary-blueberry { fill: var(--elementary-blueberry); }
.fill-elementary-blueberry-text { fill: var(--elementary-blueberry-text); }
.fill-elementary-blueberry-100 { fill: var(--elementary-blueberry-100); }
.fill-elementary-blueberry-300 { fill: var(--elementary-blueberry-300); }
.fill-elementary-blueberry-500 { fill: var(--elementary-blueberry-500); }
.fill-elementary-blueberry-700 { fill: var(--elementary-blueberry-700); }
.fill-elementary-blueberry-900 { fill: var(--elementary-blueberry-900); }
.fill-elementary-grape { fill: var(--elementary-grape); }
.fill-elementary-grape-text { fill: var(--elementary-grape-text); }
.fill-elementary-grape-100 { fill: var(--elementary-grape-100); }
.fill-elementary-grape-300 { fill: var(--elementary-grape-300); }
.fill-elementary-grape-500 { fill: var(--elementary-grape-500); }
.fill-elementary-grape-700 { fill: var(--elementary-grape-700); }
.fill-elementary-grape-900 { fill: var(--elementary-grape-900); }
.fill-elementary-bubblegum { fill: var(--elementary-bubblegum); }
.fill-elementary-bubblegum-text { fill: var(--elementary-bubblegum-text); }
.fill-elementary-bubblegum-100 { fill: var(--elementary-bubblegum-100); }
.fill-elementary-bubblegum-300 { fill: var(--elementary-bubblegum-300); }
.fill-elementary-bubblegum-500 { fill: var(--elementary-bubblegum-500); }
.fill-elementary-bubblegum-700 { fill: var(--elementary-bubblegum-700); }
.fill-elementary-bubblegum-900 { fill: var(--elementary-bubblegum-900); }
.fill-elementary-cocoa { fill: var(--elementary-cocoa); }
.fill-elementary-cocoa-100 { fill: var(--elementary-cocoa-100); }
.fill-elementary-cocoa-300 { fill: var(--elementary-cocoa-300); }
.fill-elementary-cocoa-500 { fill: var(--elementary-cocoa-500); }
.fill-elementary-cocoa-700 { fill: var(--elementary-cocoa-700); }
.fill-elementary-cocoa-900 { fill: var(--elementary-cocoa-900); }
.fill-elementary-silver { fill: var(--elementary-silver); }
.fill-elementary-silver-text { fill: var(--elementary-silver-text); }
.fill-elementary-silver-100 { fill: var(--elementary-silver-100); }
.fill-elementary-silver-300 { fill: var(--elementary-silver-300); }
.fill-elementary-silver-500 { fill: var(--elementary-silver-500); }
.fill-elementary-silver-700 { fill: var(--elementary-silver-700); }
.fill-elementary-silver-900 { fill: var(--elementary-silver-900); }
.fill-elementary-slate { fill: var(--elementary-slate); }
.fill-elementary-slate-text { fill: var(--elementary-slate-text); }
.fill-elementary-slate-100 { fill: var(--elementary-slate-100); }
.fill-elementary-slate-300 { fill: var(--elementary-slate-300); }
.fill-elementary-slate-500 { fill: var(--elementary-slate-500); }
.fill-elementary-slate-700 { fill: var(--elementary-slate-700); }
.fill-elementary-slate-900 { fill: var(--elementary-slate-900); }
.fill-elementary-black { fill: var(--elementary-black); }
.fill-elementary-black-100 { fill: var(--elementary-black-100); }
.fill-elementary-black-300 { fill: var(--elementary-black-300); }
.fill-elementary-black-500 { fill: var(--elementary-black-500); }
.fill-elementary-black-700 { fill: var(--elementary-black-700); }
.fill-elementary-black-900 { fill: var(--elementary-black-900); }
