/*! Colors.css 2.0.7 | eustasy Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--eustasy-dark-text: #212121;
	--eustasy-light-text: #fefefe;
	--eustasy-light-background: #fefefe;
	--eustasy-medium-background: #dedede;
	--eustasy-dark-background: #212121;
	--eustasy-error: #f44336;
	--eustasy-error-text: #b71c1c;
	--eustasy-warning: #ff9800;
	--eustasy-warning-text: #e65100;
	--eustasy-warning-2: #ffeb3b;
	--eustasy-success: #4caf50;
	--eustasy-success-text: #1b5e20;
	--eustasy-information: #2196f3;
	--eustasy-information-text: #0d47a1;
}
.background-eustasy-dark-text { background: var(--eustasy-dark-text); }
.background-eustasy-light-text { background: var(--eustasy-light-text); }
.background-eustasy-light-background { background: var(--eustasy-light-background); }
.background-eustasy-medium-background { background: var(--eustasy-medium-background); }
.background-eustasy-dark-background { background: var(--eustasy-dark-background); }
.background-eustasy-error { background: var(--eustasy-error); }
.background-eustasy-error-text { background: var(--eustasy-error-text); }
.background-eustasy-warning { background: var(--eustasy-warning); }
.background-eustasy-warning-text { background: var(--eustasy-warning-text); }
.background-eustasy-warning-2 { background: var(--eustasy-warning-2); }
.background-eustasy-success { background: var(--eustasy-success); }
.background-eustasy-success-text { background: var(--eustasy-success-text); }
.background-eustasy-information { background: var(--eustasy-information); }
.background-eustasy-information-text { background: var(--eustasy-information-text); }
.color-eustasy-dark-text { color: var(--eustasy-dark-text); }
.color-eustasy-light-text { color: var(--eustasy-light-text); }
.color-eustasy-light-background { color: var(--eustasy-light-background); }
.color-eustasy-medium-background { color: var(--eustasy-medium-background); }
.color-eustasy-dark-background { color: var(--eustasy-dark-background); }
.color-eustasy-error { color: var(--eustasy-error); }
.color-eustasy-error-text { color: var(--eustasy-error-text); }
.color-eustasy-warning { color: var(--eustasy-warning); }
.color-eustasy-warning-text { color: var(--eustasy-warning-text); }
.color-eustasy-warning-2 { color: var(--eustasy-warning-2); }
.color-eustasy-success { color: var(--eustasy-success); }
.color-eustasy-success-text { color: var(--eustasy-success-text); }
.color-eustasy-information { color: var(--eustasy-information); }
.color-eustasy-information-text { color: var(--eustasy-information-text); }
.fill-eustasy-dark-text { fill: var(--eustasy-dark-text); }
.fill-eustasy-light-text { fill: var(--eustasy-light-text); }
.fill-eustasy-light-background { fill: var(--eustasy-light-background); }
.fill-eustasy-medium-background { fill: var(--eustasy-medium-background); }
.fill-eustasy-dark-background { fill: var(--eustasy-dark-background); }
.fill-eustasy-error { fill: var(--eustasy-error); }
.fill-eustasy-error-text { fill: var(--eustasy-error-text); }
.fill-eustasy-warning { fill: var(--eustasy-warning); }
.fill-eustasy-warning-text { fill: var(--eustasy-warning-text); }
.fill-eustasy-warning-2 { fill: var(--eustasy-warning-2); }
.fill-eustasy-success { fill: var(--eustasy-success); }
.fill-eustasy-success-text { fill: var(--eustasy-success-text); }
.fill-eustasy-information { fill: var(--eustasy-information); }
.fill-eustasy-information-text { fill: var(--eustasy-information-text); }
