/*! Colors.css 2.0.9 | eustasy Palette (Extended) | MIT License | https://github.com/eustasy/colors.css */
:root {
	--eustasy-dark-text: #212121;
	--eustasy-light-text: #fefefe;
	--eustasy-light-background: #fefefe;
	--eustasy-medium-background: #dedede;
	--eustasy-dark-background: #212121;
	--eustasy-error: #f44336;
	--eustasy-error-text: #b71c1c;
	--eustasy-warning: #ff9800;
	--eustasy-warning-text: #e65100;
	--eustasy-warning-2: #ffeb3b;
	--eustasy-success: #4caf50;
	--eustasy-success-text: #1b5e20;
	--eustasy-information: #2196f3;
	--eustasy-information-text: #0d47a1;
}
.background-eustasy-dark-text { background: var(--eustasy-dark-text); }
.background-eustasy-light-text { background: var(--eustasy-light-text); }
.background-eustasy-light-background { background: var(--eustasy-light-background); }
.background-eustasy-medium-background { background: var(--eustasy-medium-background); }
.background-eustasy-dark-background { background: var(--eustasy-dark-background); }
.background-eustasy-error { background: var(--eustasy-error); }
.background-eustasy-error-text { background: var(--eustasy-error-text); }
.background-eustasy-warning { background: var(--eustasy-warning); }
.background-eustasy-warning-text { background: var(--eustasy-warning-text); }
.background-eustasy-warning-2 { background: var(--eustasy-warning-2); }
.background-eustasy-success { background: var(--eustasy-success); }
.background-eustasy-success-text { background: var(--eustasy-success-text); }
.background-eustasy-information { background: var(--eustasy-information); }
.background-eustasy-information-text { background: var(--eustasy-information-text); }
.color-eustasy-dark-text { color: var(--eustasy-dark-text); }
.color-eustasy-light-text { color: var(--eustasy-light-text); }
.color-eustasy-light-background { color: var(--eustasy-light-background); }
.color-eustasy-medium-background { color: var(--eustasy-medium-background); }
.color-eustasy-dark-background { color: var(--eustasy-dark-background); }
.color-eustasy-error { color: var(--eustasy-error); }
.color-eustasy-error-text { color: var(--eustasy-error-text); }
.color-eustasy-warning { color: var(--eustasy-warning); }
.color-eustasy-warning-text { color: var(--eustasy-warning-text); }
.color-eustasy-warning-2 { color: var(--eustasy-warning-2); }
.color-eustasy-success { color: var(--eustasy-success); }
.color-eustasy-success-text { color: var(--eustasy-success-text); }
.color-eustasy-information { color: var(--eustasy-information); }
.color-eustasy-information-text { color: var(--eustasy-information-text); }
.fill-eustasy-dark-text { fill: var(--eustasy-dark-text); }
.fill-eustasy-light-text { fill: var(--eustasy-light-text); }
.fill-eustasy-light-background { fill: var(--eustasy-light-background); }
.fill-eustasy-medium-background { fill: var(--eustasy-medium-background); }
.fill-eustasy-dark-background { fill: var(--eustasy-dark-background); }
.fill-eustasy-error { fill: var(--eustasy-error); }
.fill-eustasy-error-text { fill: var(--eustasy-error-text); }
.fill-eustasy-warning { fill: var(--eustasy-warning); }
.fill-eustasy-warning-text { fill: var(--eustasy-warning-text); }
.fill-eustasy-warning-2 { fill: var(--eustasy-warning-2); }
.fill-eustasy-success { fill: var(--eustasy-success); }
.fill-eustasy-success-text { fill: var(--eustasy-success-text); }
.fill-eustasy-information { fill: var(--eustasy-information); }
.fill-eustasy-information-text { fill: var(--eustasy-information-text); }
.border-color-eustasy-dark-text { border-color: var(--eustasy-dark-text); }
.border-color-eustasy-light-text { border-color: var(--eustasy-light-text); }
.border-color-eustasy-light-background { border-color: var(--eustasy-light-background); }
.border-color-eustasy-medium-background { border-color: var(--eustasy-medium-background); }
.border-color-eustasy-dark-background { border-color: var(--eustasy-dark-background); }
.border-color-eustasy-error { border-color: var(--eustasy-error); }
.border-color-eustasy-error-text { border-color: var(--eustasy-error-text); }
.border-color-eustasy-warning { border-color: var(--eustasy-warning); }
.border-color-eustasy-warning-text { border-color: var(--eustasy-warning-text); }
.border-color-eustasy-warning-2 { border-color: var(--eustasy-warning-2); }
.border-color-eustasy-success { border-color: var(--eustasy-success); }
.border-color-eustasy-success-text { border-color: var(--eustasy-success-text); }
.border-color-eustasy-information { border-color: var(--eustasy-information); }
.border-color-eustasy-information-text { border-color: var(--eustasy-information-text); }
.stroke-eustasy-dark-text { stroke: var(--eustasy-dark-text); }
.stroke-eustasy-light-text { stroke: var(--eustasy-light-text); }
.stroke-eustasy-light-background { stroke: var(--eustasy-light-background); }
.stroke-eustasy-medium-background { stroke: var(--eustasy-medium-background); }
.stroke-eustasy-dark-background { stroke: var(--eustasy-dark-background); }
.stroke-eustasy-error { stroke: var(--eustasy-error); }
.stroke-eustasy-error-text { stroke: var(--eustasy-error-text); }
.stroke-eustasy-warning { stroke: var(--eustasy-warning); }
.stroke-eustasy-warning-text { stroke: var(--eustasy-warning-text); }
.stroke-eustasy-warning-2 { stroke: var(--eustasy-warning-2); }
.stroke-eustasy-success { stroke: var(--eustasy-success); }
.stroke-eustasy-success-text { stroke: var(--eustasy-success-text); }
.stroke-eustasy-information { stroke: var(--eustasy-information); }
.stroke-eustasy-information-text { stroke: var(--eustasy-information-text); }
.outline-color-eustasy-dark-text { outline-color: var(--eustasy-dark-text); }
.outline-color-eustasy-light-text { outline-color: var(--eustasy-light-text); }
.outline-color-eustasy-light-background { outline-color: var(--eustasy-light-background); }
.outline-color-eustasy-medium-background { outline-color: var(--eustasy-medium-background); }
.outline-color-eustasy-dark-background { outline-color: var(--eustasy-dark-background); }
.outline-color-eustasy-error { outline-color: var(--eustasy-error); }
.outline-color-eustasy-error-text { outline-color: var(--eustasy-error-text); }
.outline-color-eustasy-warning { outline-color: var(--eustasy-warning); }
.outline-color-eustasy-warning-text { outline-color: var(--eustasy-warning-text); }
.outline-color-eustasy-warning-2 { outline-color: var(--eustasy-warning-2); }
.outline-color-eustasy-success { outline-color: var(--eustasy-success); }
.outline-color-eustasy-success-text { outline-color: var(--eustasy-success-text); }
.outline-color-eustasy-information { outline-color: var(--eustasy-information); }
.outline-color-eustasy-information-text { outline-color: var(--eustasy-information-text); }
.text-decoration-color-eustasy-dark-text { text-decoration-color: var(--eustasy-dark-text); }
.text-decoration-color-eustasy-light-text { text-decoration-color: var(--eustasy-light-text); }
.text-decoration-color-eustasy-light-background { text-decoration-color: var(--eustasy-light-background); }
.text-decoration-color-eustasy-medium-background { text-decoration-color: var(--eustasy-medium-background); }
.text-decoration-color-eustasy-dark-background { text-decoration-color: var(--eustasy-dark-background); }
.text-decoration-color-eustasy-error { text-decoration-color: var(--eustasy-error); }
.text-decoration-color-eustasy-error-text { text-decoration-color: var(--eustasy-error-text); }
.text-decoration-color-eustasy-warning { text-decoration-color: var(--eustasy-warning); }
.text-decoration-color-eustasy-warning-text { text-decoration-color: var(--eustasy-warning-text); }
.text-decoration-color-eustasy-warning-2 { text-decoration-color: var(--eustasy-warning-2); }
.text-decoration-color-eustasy-success { text-decoration-color: var(--eustasy-success); }
.text-decoration-color-eustasy-success-text { text-decoration-color: var(--eustasy-success-text); }
.text-decoration-color-eustasy-information { text-decoration-color: var(--eustasy-information); }
.text-decoration-color-eustasy-information-text { text-decoration-color: var(--eustasy-information-text); }
.caret-color-eustasy-dark-text { caret-color: var(--eustasy-dark-text); }
.caret-color-eustasy-light-text { caret-color: var(--eustasy-light-text); }
.caret-color-eustasy-light-background { caret-color: var(--eustasy-light-background); }
.caret-color-eustasy-medium-background { caret-color: var(--eustasy-medium-background); }
.caret-color-eustasy-dark-background { caret-color: var(--eustasy-dark-background); }
.caret-color-eustasy-error { caret-color: var(--eustasy-error); }
.caret-color-eustasy-error-text { caret-color: var(--eustasy-error-text); }
.caret-color-eustasy-warning { caret-color: var(--eustasy-warning); }
.caret-color-eustasy-warning-text { caret-color: var(--eustasy-warning-text); }
.caret-color-eustasy-warning-2 { caret-color: var(--eustasy-warning-2); }
.caret-color-eustasy-success { caret-color: var(--eustasy-success); }
.caret-color-eustasy-success-text { caret-color: var(--eustasy-success-text); }
.caret-color-eustasy-information { caret-color: var(--eustasy-information); }
.caret-color-eustasy-information-text { caret-color: var(--eustasy-information-text); }
.accent-color-eustasy-dark-text { accent-color: var(--eustasy-dark-text); }
.accent-color-eustasy-light-text { accent-color: var(--eustasy-light-text); }
.accent-color-eustasy-light-background { accent-color: var(--eustasy-light-background); }
.accent-color-eustasy-medium-background { accent-color: var(--eustasy-medium-background); }
.accent-color-eustasy-dark-background { accent-color: var(--eustasy-dark-background); }
.accent-color-eustasy-error { accent-color: var(--eustasy-error); }
.accent-color-eustasy-error-text { accent-color: var(--eustasy-error-text); }
.accent-color-eustasy-warning { accent-color: var(--eustasy-warning); }
.accent-color-eustasy-warning-text { accent-color: var(--eustasy-warning-text); }
.accent-color-eustasy-warning-2 { accent-color: var(--eustasy-warning-2); }
.accent-color-eustasy-success { accent-color: var(--eustasy-success); }
.accent-color-eustasy-success-text { accent-color: var(--eustasy-success-text); }
.accent-color-eustasy-information { accent-color: var(--eustasy-information); }
.accent-color-eustasy-information-text { accent-color: var(--eustasy-information-text); }
