/*! Colors.css 2.0.7 | Flat UI Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--flatui-turquoise: #1abc9c;
	--flatui-green-sea: #16a085;
	--flatui-emerald: #2ecc71;
	--flatui-nephritis: #27ae60;
	--flatui-peter-river: #3498db;
	--flatui-belize-hole: #2980b9;
	--flatui-amethyst: #9b59b6;
	--flatui-wisteria: #8e44ad;
	--flatui-wet-asphalt: #34495e;
	--flatui-midnight-blue: #2c3e50;
	--flatui-sun-flower: #f1c40f;
	--flatui-orange: #f39c12;
	--flatui-carrot: #e67e22;
	--flatui-pumpkin: #d35400;
	--flatui-alizarin: #e74c3c;
	--flatui-pomegranate: #c0392b;
	--flatui-clouds: #ecf0f1;
	--flatui-silver: #bdc3c7;
	--flatui-concrete: #95a5a6;
	--flatui-asbestos: #7f8c8d;
}
.background-flatui-turquoise { background: var(--flatui-turquoise); }
.background-flatui-green-sea { background: var(--flatui-green-sea); }
.background-flatui-emerald { background: var(--flatui-emerald); }
.background-flatui-nephritis { background: var(--flatui-nephritis); }
.background-flatui-peter-river { background: var(--flatui-peter-river); }
.background-flatui-belize-hole { background: var(--flatui-belize-hole); }
.background-flatui-amethyst { background: var(--flatui-amethyst); }
.background-flatui-wisteria { background: var(--flatui-wisteria); }
.background-flatui-wet-asphalt { background: var(--flatui-wet-asphalt); }
.background-flatui-midnight-blue { background: var(--flatui-midnight-blue); }
.background-flatui-sun-flower { background: var(--flatui-sun-flower); }
.background-flatui-orange { background: var(--flatui-orange); }
.background-flatui-carrot { background: var(--flatui-carrot); }
.background-flatui-pumpkin { background: var(--flatui-pumpkin); }
.background-flatui-alizarin { background: var(--flatui-alizarin); }
.background-flatui-pomegranate { background: var(--flatui-pomegranate); }
.background-flatui-clouds { background: var(--flatui-clouds); }
.background-flatui-silver { background: var(--flatui-silver); }
.background-flatui-concrete { background: var(--flatui-concrete); }
.background-flatui-asbestos { background: var(--flatui-asbestos); }
.color-flatui-turquoise { color: var(--flatui-turquoise); }
.color-flatui-green-sea { color: var(--flatui-green-sea); }
.color-flatui-emerald { color: var(--flatui-emerald); }
.color-flatui-nephritis { color: var(--flatui-nephritis); }
.color-flatui-peter-river { color: var(--flatui-peter-river); }
.color-flatui-belize-hole { color: var(--flatui-belize-hole); }
.color-flatui-amethyst { color: var(--flatui-amethyst); }
.color-flatui-wisteria { color: var(--flatui-wisteria); }
.color-flatui-wet-asphalt { color: var(--flatui-wet-asphalt); }
.color-flatui-midnight-blue { color: var(--flatui-midnight-blue); }
.color-flatui-sun-flower { color: var(--flatui-sun-flower); }
.color-flatui-orange { color: var(--flatui-orange); }
.color-flatui-carrot { color: var(--flatui-carrot); }
.color-flatui-pumpkin { color: var(--flatui-pumpkin); }
.color-flatui-alizarin { color: var(--flatui-alizarin); }
.color-flatui-pomegranate { color: var(--flatui-pomegranate); }
.color-flatui-clouds { color: var(--flatui-clouds); }
.color-flatui-silver { color: var(--flatui-silver); }
.color-flatui-concrete { color: var(--flatui-concrete); }
.color-flatui-asbestos { color: var(--flatui-asbestos); }
.fill-flatui-turquoise { fill: var(--flatui-turquoise); }
.fill-flatui-green-sea { fill: var(--flatui-green-sea); }
.fill-flatui-emerald { fill: var(--flatui-emerald); }
.fill-flatui-nephritis { fill: var(--flatui-nephritis); }
.fill-flatui-peter-river { fill: var(--flatui-peter-river); }
.fill-flatui-belize-hole { fill: var(--flatui-belize-hole); }
.fill-flatui-amethyst { fill: var(--flatui-amethyst); }
.fill-flatui-wisteria { fill: var(--flatui-wisteria); }
.fill-flatui-wet-asphalt { fill: var(--flatui-wet-asphalt); }
.fill-flatui-midnight-blue { fill: var(--flatui-midnight-blue); }
.fill-flatui-sun-flower { fill: var(--flatui-sun-flower); }
.fill-flatui-orange { fill: var(--flatui-orange); }
.fill-flatui-carrot { fill: var(--flatui-carrot); }
.fill-flatui-pumpkin { fill: var(--flatui-pumpkin); }
.fill-flatui-alizarin { fill: var(--flatui-alizarin); }
.fill-flatui-pomegranate { fill: var(--flatui-pomegranate); }
.fill-flatui-clouds { fill: var(--flatui-clouds); }
.fill-flatui-silver { fill: var(--flatui-silver); }
.fill-flatui-concrete { fill: var(--flatui-concrete); }
.fill-flatui-asbestos { fill: var(--flatui-asbestos); }
