/*! Colors.css 2.0.5 | Flat UI Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--flatui-turquoise: #1abc9c;
	--flatui-green-sea: #16a085;
	--flatui-emerald: #2ecc71;
	--flatui-nephritis: #27ae60;
	--flatui-peter-river: #3498db;
	--flatui-belize-hole: #2980b9;
	--flatui-amethyst: #9b59b6;
	--flatui-wisteria: #8e44ad;
	--flatui-wet-asphalt: #34495e;
	--flatui-midnight-blue: #2c3e50;
	--flatui-sun-flower: #f1c40f;
	--flatui-orange: #f39c12;
	--flatui-carrot: #e67e22;
	--flatui-pumpkin: #d35400;
	--flatui-alizarin: #e74c3c;
	--flatui-pomegranate: #c0392b;
	--flatui-clouds: #ecf0f1;
	--flatui-silver: #bdc3c7;
	--flatui-concrete: #95a5a6;
	--flatui-asbestos: #7f8c8d;
}
.background-flatui-turquoise { background: #1abc9c; }
.background-flatui-green-sea { background: #16a085; }
.background-flatui-emerald { background: #2ecc71; }
.background-flatui-nephritis { background: #27ae60; }
.background-flatui-peter-river { background: #3498db; }
.background-flatui-belize-hole { background: #2980b9; }
.background-flatui-amethyst { background: #9b59b6; }
.background-flatui-wisteria { background: #8e44ad; }
.background-flatui-wet-asphalt { background: #34495e; }
.background-flatui-midnight-blue { background: #2c3e50; }
.background-flatui-sun-flower { background: #f1c40f; }
.background-flatui-orange { background: #f39c12; }
.background-flatui-carrot { background: #e67e22; }
.background-flatui-pumpkin { background: #d35400; }
.background-flatui-alizarin { background: #e74c3c; }
.background-flatui-pomegranate { background: #c0392b; }
.background-flatui-clouds { background: #ecf0f1; }
.background-flatui-silver { background: #bdc3c7; }
.background-flatui-concrete { background: #95a5a6; }
.background-flatui-asbestos { background: #7f8c8d; }
.color-flatui-turquoise { color: #1abc9c; }
.color-flatui-green-sea { color: #16a085; }
.color-flatui-emerald { color: #2ecc71; }
.color-flatui-nephritis { color: #27ae60; }
.color-flatui-peter-river { color: #3498db; }
.color-flatui-belize-hole { color: #2980b9; }
.color-flatui-amethyst { color: #9b59b6; }
.color-flatui-wisteria { color: #8e44ad; }
.color-flatui-wet-asphalt { color: #34495e; }
.color-flatui-midnight-blue { color: #2c3e50; }
.color-flatui-sun-flower { color: #f1c40f; }
.color-flatui-orange { color: #f39c12; }
.color-flatui-carrot { color: #e67e22; }
.color-flatui-pumpkin { color: #d35400; }
.color-flatui-alizarin { color: #e74c3c; }
.color-flatui-pomegranate { color: #c0392b; }
.color-flatui-clouds { color: #ecf0f1; }
.color-flatui-silver { color: #bdc3c7; }
.color-flatui-concrete { color: #95a5a6; }
.color-flatui-asbestos { color: #7f8c8d; }
.fill-flatui-turquoise { fill: #1abc9c; }
.fill-flatui-green-sea { fill: #16a085; }
.fill-flatui-emerald { fill: #2ecc71; }
.fill-flatui-nephritis { fill: #27ae60; }
.fill-flatui-peter-river { fill: #3498db; }
.fill-flatui-belize-hole { fill: #2980b9; }
.fill-flatui-amethyst { fill: #9b59b6; }
.fill-flatui-wisteria { fill: #8e44ad; }
.fill-flatui-wet-asphalt { fill: #34495e; }
.fill-flatui-midnight-blue { fill: #2c3e50; }
.fill-flatui-sun-flower { fill: #f1c40f; }
.fill-flatui-orange { fill: #f39c12; }
.fill-flatui-carrot { fill: #e67e22; }
.fill-flatui-pumpkin { fill: #d35400; }
.fill-flatui-alizarin { fill: #e74c3c; }
.fill-flatui-pomegranate { fill: #c0392b; }
.fill-flatui-clouds { fill: #ecf0f1; }
.fill-flatui-silver { fill: #bdc3c7; }
.fill-flatui-concrete { fill: #95a5a6; }
.fill-flatui-asbestos { fill: #7f8c8d; }
