/*! Colors.css 2.0.9 | Flexoki Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--flexoki-black: #100f0f;
	--flexoki-base-950: #1c1b1a;
	--flexoki-base-900: #282726;
	--flexoki-base-850: #343331;
	--flexoki-base-800: #403e3c;
	--flexoki-base-700: #575653;
	--flexoki-base-600: #6f6e69;
	--flexoki-base-500: #878580;
	--flexoki-base-300: #b7b5ac;
	--flexoki-base-200: #cecdc3;
	--flexoki-base-150: #dad8ce;
	--flexoki-base-100: #e6e4d9;
	--flexoki-base-50: #f2f0e5;
	--flexoki-paper: #fffcf0;
	--flexoki-red-600: #af3029;
	--flexoki-orange-600: #bc5215;
	--flexoki-yellow-600: #ad8301;
	--flexoki-green-600: #66800b;
	--flexoki-cyan-600: #24837b;
	--flexoki-blue-600: #205ea6;
	--flexoki-purple-600: #5e409d;
	--flexoki-magenta-600: #a02f6f;
	--flexoki-red-400: #d14d41;
	--flexoki-orange-400: #da702c;
	--flexoki-yellow-400: #d0a215;
	--flexoki-green-400: #879a39;
	--flexoki-cyan-400: #3aa99f;
	--flexoki-blue-400: #4385be;
	--flexoki-purple-400: #8b7ec8;
	--flexoki-magenta-400: #ce5d97;
}
.background-flexoki-black { background: var(--flexoki-black); }
.background-flexoki-base-950 { background: var(--flexoki-base-950); }
.background-flexoki-base-900 { background: var(--flexoki-base-900); }
.background-flexoki-base-850 { background: var(--flexoki-base-850); }
.background-flexoki-base-800 { background: var(--flexoki-base-800); }
.background-flexoki-base-700 { background: var(--flexoki-base-700); }
.background-flexoki-base-600 { background: var(--flexoki-base-600); }
.background-flexoki-base-500 { background: var(--flexoki-base-500); }
.background-flexoki-base-300 { background: var(--flexoki-base-300); }
.background-flexoki-base-200 { background: var(--flexoki-base-200); }
.background-flexoki-base-150 { background: var(--flexoki-base-150); }
.background-flexoki-base-100 { background: var(--flexoki-base-100); }
.background-flexoki-base-50 { background: var(--flexoki-base-50); }
.background-flexoki-paper { background: var(--flexoki-paper); }
.background-flexoki-red-600 { background: var(--flexoki-red-600); }
.background-flexoki-orange-600 { background: var(--flexoki-orange-600); }
.background-flexoki-yellow-600 { background: var(--flexoki-yellow-600); }
.background-flexoki-green-600 { background: var(--flexoki-green-600); }
.background-flexoki-cyan-600 { background: var(--flexoki-cyan-600); }
.background-flexoki-blue-600 { background: var(--flexoki-blue-600); }
.background-flexoki-purple-600 { background: var(--flexoki-purple-600); }
.background-flexoki-magenta-600 { background: var(--flexoki-magenta-600); }
.background-flexoki-red-400 { background: var(--flexoki-red-400); }
.background-flexoki-orange-400 { background: var(--flexoki-orange-400); }
.background-flexoki-yellow-400 { background: var(--flexoki-yellow-400); }
.background-flexoki-green-400 { background: var(--flexoki-green-400); }
.background-flexoki-cyan-400 { background: var(--flexoki-cyan-400); }
.background-flexoki-blue-400 { background: var(--flexoki-blue-400); }
.background-flexoki-purple-400 { background: var(--flexoki-purple-400); }
.background-flexoki-magenta-400 { background: var(--flexoki-magenta-400); }
.color-flexoki-black { color: var(--flexoki-black); }
.color-flexoki-base-950 { color: var(--flexoki-base-950); }
.color-flexoki-base-900 { color: var(--flexoki-base-900); }
.color-flexoki-base-850 { color: var(--flexoki-base-850); }
.color-flexoki-base-800 { color: var(--flexoki-base-800); }
.color-flexoki-base-700 { color: var(--flexoki-base-700); }
.color-flexoki-base-600 { color: var(--flexoki-base-600); }
.color-flexoki-base-500 { color: var(--flexoki-base-500); }
.color-flexoki-base-300 { color: var(--flexoki-base-300); }
.color-flexoki-base-200 { color: var(--flexoki-base-200); }
.color-flexoki-base-150 { color: var(--flexoki-base-150); }
.color-flexoki-base-100 { color: var(--flexoki-base-100); }
.color-flexoki-base-50 { color: var(--flexoki-base-50); }
.color-flexoki-paper { color: var(--flexoki-paper); }
.color-flexoki-red-600 { color: var(--flexoki-red-600); }
.color-flexoki-orange-600 { color: var(--flexoki-orange-600); }
.color-flexoki-yellow-600 { color: var(--flexoki-yellow-600); }
.color-flexoki-green-600 { color: var(--flexoki-green-600); }
.color-flexoki-cyan-600 { color: var(--flexoki-cyan-600); }
.color-flexoki-blue-600 { color: var(--flexoki-blue-600); }
.color-flexoki-purple-600 { color: var(--flexoki-purple-600); }
.color-flexoki-magenta-600 { color: var(--flexoki-magenta-600); }
.color-flexoki-red-400 { color: var(--flexoki-red-400); }
.color-flexoki-orange-400 { color: var(--flexoki-orange-400); }
.color-flexoki-yellow-400 { color: var(--flexoki-yellow-400); }
.color-flexoki-green-400 { color: var(--flexoki-green-400); }
.color-flexoki-cyan-400 { color: var(--flexoki-cyan-400); }
.color-flexoki-blue-400 { color: var(--flexoki-blue-400); }
.color-flexoki-purple-400 { color: var(--flexoki-purple-400); }
.color-flexoki-magenta-400 { color: var(--flexoki-magenta-400); }
.fill-flexoki-black { fill: var(--flexoki-black); }
.fill-flexoki-base-950 { fill: var(--flexoki-base-950); }
.fill-flexoki-base-900 { fill: var(--flexoki-base-900); }
.fill-flexoki-base-850 { fill: var(--flexoki-base-850); }
.fill-flexoki-base-800 { fill: var(--flexoki-base-800); }
.fill-flexoki-base-700 { fill: var(--flexoki-base-700); }
.fill-flexoki-base-600 { fill: var(--flexoki-base-600); }
.fill-flexoki-base-500 { fill: var(--flexoki-base-500); }
.fill-flexoki-base-300 { fill: var(--flexoki-base-300); }
.fill-flexoki-base-200 { fill: var(--flexoki-base-200); }
.fill-flexoki-base-150 { fill: var(--flexoki-base-150); }
.fill-flexoki-base-100 { fill: var(--flexoki-base-100); }
.fill-flexoki-base-50 { fill: var(--flexoki-base-50); }
.fill-flexoki-paper { fill: var(--flexoki-paper); }
.fill-flexoki-red-600 { fill: var(--flexoki-red-600); }
.fill-flexoki-orange-600 { fill: var(--flexoki-orange-600); }
.fill-flexoki-yellow-600 { fill: var(--flexoki-yellow-600); }
.fill-flexoki-green-600 { fill: var(--flexoki-green-600); }
.fill-flexoki-cyan-600 { fill: var(--flexoki-cyan-600); }
.fill-flexoki-blue-600 { fill: var(--flexoki-blue-600); }
.fill-flexoki-purple-600 { fill: var(--flexoki-purple-600); }
.fill-flexoki-magenta-600 { fill: var(--flexoki-magenta-600); }
.fill-flexoki-red-400 { fill: var(--flexoki-red-400); }
.fill-flexoki-orange-400 { fill: var(--flexoki-orange-400); }
.fill-flexoki-yellow-400 { fill: var(--flexoki-yellow-400); }
.fill-flexoki-green-400 { fill: var(--flexoki-green-400); }
.fill-flexoki-cyan-400 { fill: var(--flexoki-cyan-400); }
.fill-flexoki-blue-400 { fill: var(--flexoki-blue-400); }
.fill-flexoki-purple-400 { fill: var(--flexoki-purple-400); }
.fill-flexoki-magenta-400 { fill: var(--flexoki-magenta-400); }
