/*! Colors.css 2.0.7 | How to elementary Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--howtoelementary-dark-text: #212121;
	--howtoelementary-light-text: #fefefe;
	--howtoelementary-light-background: #fefefe;
	--howtoelementary-medium-background: #dedede;
	--howtoelementary-dark-background: #212121;
	--howtoelementary-error: #da4d45;
	--howtoelementary-error-text: #b71c1c;
	--howtoelementary-warning: #f37329;
	--howtoelementary-warning-text: #e65100;
	--howtoelementary-warning-2: #fbd25d;
	--howtoelementary-success: #b3cf3b;
	--howtoelementary-success-text: #1b5e20;
	--howtoelementary-information: #47a8e9;
	--howtoelementary-information-text: #0d47a1;
	--howtoelementary-announcement: #c35cc2;
}
.background-howtoelementary-dark-text { background: var(--howtoelementary); }
.background-howtoelementary-light-text { background: var(--howtoelementary); }
.background-howtoelementary-light-background { background: var(--howtoelementary); }
.background-howtoelementary-medium-background { background: var(--howtoelementary); }
.background-howtoelementary-dark-background { background: var(--howtoelementary); }
.background-howtoelementary-error { background: var(--howtoelementary); }
.background-howtoelementary-error-text { background: var(--howtoelementary); }
.background-howtoelementary-warning { background: var(--howtoelementary); }
.background-howtoelementary-warning-text { background: var(--howtoelementary); }
.background-howtoelementary-warning-2 { background: var(--howtoelementary); }
.background-howtoelementary-success { background: var(--howtoelementary); }
.background-howtoelementary-success-text { background: var(--howtoelementary); }
.background-howtoelementary-information { background: var(--howtoelementary); }
.background-howtoelementary-information-text { background: var(--howtoelementary); }
.background-howtoelementary-announcement { background: var(--howtoelementary); }
.color-howtoelementary-dark-text { color: var(--howtoelementary); }
.color-howtoelementary-light-text { color: var(--howtoelementary); }
.color-howtoelementary-light-background { color: var(--howtoelementary); }
.color-howtoelementary-medium-background { color: var(--howtoelementary); }
.color-howtoelementary-dark-background { color: var(--howtoelementary); }
.color-howtoelementary-error { color: var(--howtoelementary); }
.color-howtoelementary-error-text { color: var(--howtoelementary); }
.color-howtoelementary-warning { color: var(--howtoelementary); }
.color-howtoelementary-warning-text { color: var(--howtoelementary); }
.color-howtoelementary-warning-2 { color: var(--howtoelementary); }
.color-howtoelementary-success { color: var(--howtoelementary); }
.color-howtoelementary-success-text { color: var(--howtoelementary); }
.color-howtoelementary-information { color: var(--howtoelementary); }
.color-howtoelementary-information-text { color: var(--howtoelementary); }
.color-howtoelementary-announcement { color: var(--howtoelementary); }
.fill-howtoelementary-dark-text { fill: var(--howtoelementary); }
.fill-howtoelementary-light-text { fill: var(--howtoelementary); }
.fill-howtoelementary-light-background { fill: var(--howtoelementary); }
.fill-howtoelementary-medium-background { fill: var(--howtoelementary); }
.fill-howtoelementary-dark-background { fill: var(--howtoelementary); }
.fill-howtoelementary-error { fill: var(--howtoelementary); }
.fill-howtoelementary-error-text { fill: var(--howtoelementary); }
.fill-howtoelementary-warning { fill: var(--howtoelementary); }
.fill-howtoelementary-warning-text { fill: var(--howtoelementary); }
.fill-howtoelementary-warning-2 { fill: var(--howtoelementary); }
.fill-howtoelementary-success { fill: var(--howtoelementary); }
.fill-howtoelementary-success-text { fill: var(--howtoelementary); }
.fill-howtoelementary-information { fill: var(--howtoelementary); }
.fill-howtoelementary-information-text { fill: var(--howtoelementary); }
.fill-howtoelementary-announcement { fill: var(--howtoelementary); }
