/*! Colors.css 2.0.6 | How to elementary Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--howtoelementary-dark-text: #212121;
	--howtoelementary-light-text: #fefefe;
	--howtoelementary-light-background: #fefefe;
	--howtoelementary-medium-background: #dedede;
	--howtoelementary-dark-background: #212121;
	--howtoelementary-error: #da4d45;
	--howtoelementary-error-text: #b71c1c;
	--howtoelementary-warning: #f37329;
	--howtoelementary-warning-text: #e65100;
	--howtoelementary-warning-2: #fbd25d;
	--howtoelementary-success: #b3cf3b;
	--howtoelementary-success-text: #1b5e20;
	--howtoelementary-information: #47a8e9;
	--howtoelementary-information-text: #0d47a1;
	--howtoelementary-announcement: #c35cc2;
}
.background-howtoelementary-dark-text { background: #212121; }
.background-howtoelementary-light-text { background: #fefefe; }
.background-howtoelementary-light-background { background: #fefefe; }
.background-howtoelementary-medium-background { background: #dedede; }
.background-howtoelementary-dark-background { background: #212121; }
.background-howtoelementary-error { background: #da4d45; }
.background-howtoelementary-error-text { background: #b71c1c; }
.background-howtoelementary-warning { background: #f37329; }
.background-howtoelementary-warning-text { background: #e65100; }
.background-howtoelementary-warning-2 { background: #fbd25d; }
.background-howtoelementary-success { background: #b3cf3b; }
.background-howtoelementary-success-text { background: #1b5e20; }
.background-howtoelementary-information { background: #47a8e9; }
.background-howtoelementary-information-text { background: #0d47a1; }
.background-howtoelementary-announcement { background: #c35cc2; }
.color-howtoelementary-dark-text { color: #212121; }
.color-howtoelementary-light-text { color: #fefefe; }
.color-howtoelementary-light-background { color: #fefefe; }
.color-howtoelementary-medium-background { color: #dedede; }
.color-howtoelementary-dark-background { color: #212121; }
.color-howtoelementary-error { color: #da4d45; }
.color-howtoelementary-error-text { color: #b71c1c; }
.color-howtoelementary-warning { color: #f37329; }
.color-howtoelementary-warning-text { color: #e65100; }
.color-howtoelementary-warning-2 { color: #fbd25d; }
.color-howtoelementary-success { color: #b3cf3b; }
.color-howtoelementary-success-text { color: #1b5e20; }
.color-howtoelementary-information { color: #47a8e9; }
.color-howtoelementary-information-text { color: #0d47a1; }
.color-howtoelementary-announcement { color: #c35cc2; }
.fill-howtoelementary-dark-text { fill: #212121; }
.fill-howtoelementary-light-text { fill: #fefefe; }
.fill-howtoelementary-light-background { fill: #fefefe; }
.fill-howtoelementary-medium-background { fill: #dedede; }
.fill-howtoelementary-dark-background { fill: #212121; }
.fill-howtoelementary-error { fill: #da4d45; }
.fill-howtoelementary-error-text { fill: #b71c1c; }
.fill-howtoelementary-warning { fill: #f37329; }
.fill-howtoelementary-warning-text { fill: #e65100; }
.fill-howtoelementary-warning-2 { fill: #fbd25d; }
.fill-howtoelementary-success { fill: #b3cf3b; }
.fill-howtoelementary-success-text { fill: #1b5e20; }
.fill-howtoelementary-information { fill: #47a8e9; }
.fill-howtoelementary-information-text { fill: #0d47a1; }
.fill-howtoelementary-announcement { fill: #c35cc2; }
