/*! Colors.css 2.0.7 | Ubuntu Palette | MIT License | https://github.com/eustasy/colors.css */
:root {
	--ubuntu-orange: #e95420;
	--ubuntu-white: #ffffff;
	--ubuntu-black: #000000;
	--ubuntu-canonical-aubergine: #772953;
	--ubuntu-light-aubergine: #77216f;
	--ubuntu-mid-aubergine: #5e2750;
	--ubuntu-dark-aubergine: #2c001e;
	--ubuntu-warm-grey: #aea79f;
	--ubuntu-cool-grey: #333333;
	--ubuntu-text-grey: #111111;
	--ubuntu-orange-100: #e95420;
	--ubuntu-orange-90: #eb6536;
	--ubuntu-orange-80: #ed764d;
	--ubuntu-orange-70: #f08763;
	--ubuntu-orange-60: #f29879;
	--ubuntu-orange-50: #f4aa90;
	--ubuntu-orange-45: #f5b29b;
	--ubuntu-orange-40: #f6bba6;
	--ubuntu-orange-35: #f7c3b1;
	--ubuntu-orange-30: #f8ccbc;
	--ubuntu-orange-25: #fad4c7;
	--ubuntu-orange-20: #fbddd2;
	--ubuntu-orange-15: #fce5de;
	--ubuntu-orange-10: #fdeee9;
	--ubuntu-canonical-aubergine-100: #772953;
	--ubuntu-canonical-aubergine-90: #843e64;
	--ubuntu-canonical-aubergine-80: #925375;
	--ubuntu-canonical-aubergine-70: #9f6986;
	--ubuntu-canonical-aubergine-60: #ad7e97;
	--ubuntu-canonical-aubergine-50: #bb94a9;
	--ubuntu-canonical-aubergine-45: #c19eb1;
	--ubuntu-canonical-aubergine-40: #c8a9ba;
	--ubuntu-canonical-aubergine-35: #cfb4c2;
	--ubuntu-canonical-aubergine-30: #d6becb;
	--ubuntu-canonical-aubergine-25: #ddc9d4;
	--ubuntu-canonical-aubergine-20: #e3d4dc;
	--ubuntu-canonical-aubergine-15: #eadee5;
	--ubuntu-canonical-aubergine-10: #f1e9ed;
	--ubuntu-light-aubergine-100: #77216f;
	--ubuntu-light-aubergine-90: #84377d;
	--ubuntu-light-aubergine-80: #924d8b;
	--ubuntu-light-aubergine-70: #9f639a;
	--ubuntu-light-aubergine-60: #ad79a8;
	--ubuntu-light-aubergine-50: #bb90b7;
	--ubuntu-light-aubergine-45: #c19bbe;
	--ubuntu-light-aubergine-40: #c8a6c5;
	--ubuntu-light-aubergine-35: #cfb1cc;
	--ubuntu-light-aubergine-30: #d6bcd3;
	--ubuntu-light-aubergine-25: #ddc7db;
	--ubuntu-light-aubergine-20: #e3d2e2;
	--ubuntu-light-aubergine-15: #eadde9;
	--ubuntu-light-aubergine-10: #f1e8f0;
	--ubuntu-mid-aubergine-100: #5e2750;
	--ubuntu-mid-aubergine-90: #6e3c61;
	--ubuntu-mid-aubergine-80: #7e5273;
	--ubuntu-mid-aubergine-70: #8e6784;
	--ubuntu-mid-aubergine-60: #9e7d96;
	--ubuntu-mid-aubergine-50: #ae93a7;
	--ubuntu-mid-aubergine-45: #b69db0;
	--ubuntu-mid-aubergine-40: #bea8b9;
	--ubuntu-mid-aubergine-35: #c6b3c1;
	--ubuntu-mid-aubergine-30: #cebeca;
	--ubuntu-mid-aubergine-25: #d6c9d3;
	--ubuntu-mid-aubergine-20: #ded3dc;
	--ubuntu-mid-aubergine-15: #e6dee4;
	--ubuntu-mid-aubergine-10: #eee9ed;
	--ubuntu-dark-aubergine-100: #2c001e;
	--ubuntu-dark-aubergine-90: #411934;
	--ubuntu-dark-aubergine-80: #56334b;
	--ubuntu-dark-aubergine-70: #6b4c61;
	--ubuntu-dark-aubergine-60: #806678;
	--ubuntu-dark-aubergine-50: #957f8e;
	--ubuntu-dark-aubergine-45: #a08c99;
	--ubuntu-dark-aubergine-40: #aa99a5;
	--ubuntu-dark-aubergine-35: #b5a5b0;
	--ubuntu-dark-aubergine-30: #bfb2bb;
	--ubuntu-dark-aubergine-25: #cabfc6;
	--ubuntu-dark-aubergine-20: #d4ccd2;
	--ubuntu-dark-aubergine-15: #dfd8dd;
	--ubuntu-dark-aubergine-10: #e9e5e8;
	--ubuntu-warm-grey-100: #aea79f;
	--ubuntu-warm-grey-90: #b6afa8;
	--ubuntu-warm-grey-80: #beb8b2;
	--ubuntu-warm-grey-70: #c6c1bb;
	--ubuntu-warm-grey-60: #cecac5;
	--ubuntu-warm-grey-50: #d6d3cf;
	--ubuntu-warm-grey-45: #dad7d3;
	--ubuntu-warm-grey-40: #dedbd8;
	--ubuntu-warm-grey-35: #e2e0dd;
	--ubuntu-warm-grey-30: #e6e4e2;
	--ubuntu-warm-grey-25: #eae9e7;
	--ubuntu-warm-grey-20: #eeedeb;
	--ubuntu-warm-grey-15: #f2f1f0;
	--ubuntu-warm-grey-10: #f6f6f5;
}
.background-ubuntu-orange { background: var(--ubuntu-orange); }
.background-ubuntu-white { background: var(--ubuntu-white); }
.background-ubuntu-black { background: var(--ubuntu-black); }
.background-ubuntu-canonical-aubergine { background: var(--ubuntu-canonical-aubergine); }
.background-ubuntu-light-aubergine { background: var(--ubuntu-light-aubergine); }
.background-ubuntu-mid-aubergine { background: var(--ubuntu-mid-aubergine); }
.background-ubuntu-dark-aubergine { background: var(--ubuntu-dark-aubergine); }
.background-ubuntu-warm-grey { background: var(--ubuntu-warm-grey); }
.background-ubuntu-cool-grey { background: var(--ubuntu-cool-grey); }
.background-ubuntu-text-grey { background: var(--ubuntu-text-grey); }
.background-ubuntu-orange-100 { background: var(--ubuntu-orange-100); }
.background-ubuntu-orange-90 { background: var(--ubuntu-orange-90); }
.background-ubuntu-orange-80 { background: var(--ubuntu-orange-80); }
.background-ubuntu-orange-70 { background: var(--ubuntu-orange-70); }
.background-ubuntu-orange-60 { background: var(--ubuntu-orange-60); }
.background-ubuntu-orange-50 { background: var(--ubuntu-orange-50); }
.background-ubuntu-orange-45 { background: var(--ubuntu-orange-45); }
.background-ubuntu-orange-40 { background: var(--ubuntu-orange-40); }
.background-ubuntu-orange-35 { background: var(--ubuntu-orange-35); }
.background-ubuntu-orange-30 { background: var(--ubuntu-orange-30); }
.background-ubuntu-orange-25 { background: var(--ubuntu-orange-25); }
.background-ubuntu-orange-20 { background: var(--ubuntu-orange-20); }
.background-ubuntu-orange-15 { background: var(--ubuntu-orange-15); }
.background-ubuntu-orange-10 { background: var(--ubuntu-orange-10); }
.background-ubuntu-canonical-aubergine-100 { background: var(--ubuntu-canonical-aubergine-100); }
.background-ubuntu-canonical-aubergine-90 { background: var(--ubuntu-canonical-aubergine-90); }
.background-ubuntu-canonical-aubergine-80 { background: var(--ubuntu-canonical-aubergine-80); }
.background-ubuntu-canonical-aubergine-70 { background: var(--ubuntu-canonical-aubergine-70); }
.background-ubuntu-canonical-aubergine-60 { background: var(--ubuntu-canonical-aubergine-60); }
.background-ubuntu-canonical-aubergine-50 { background: var(--ubuntu-canonical-aubergine-50); }
.background-ubuntu-canonical-aubergine-45 { background: var(--ubuntu-canonical-aubergine-45); }
.background-ubuntu-canonical-aubergine-40 { background: var(--ubuntu-canonical-aubergine-40); }
.background-ubuntu-canonical-aubergine-35 { background: var(--ubuntu-canonical-aubergine-35); }
.background-ubuntu-canonical-aubergine-30 { background: var(--ubuntu-canonical-aubergine-30); }
.background-ubuntu-canonical-aubergine-25 { background: var(--ubuntu-canonical-aubergine-25); }
.background-ubuntu-canonical-aubergine-20 { background: var(--ubuntu-canonical-aubergine-20); }
.background-ubuntu-canonical-aubergine-15 { background: var(--ubuntu-canonical-aubergine-15); }
.background-ubuntu-canonical-aubergine-10 { background: var(--ubuntu-canonical-aubergine-10); }
.background-ubuntu-light-aubergine-100 { background: var(--ubuntu-light-aubergine-100); }
.background-ubuntu-light-aubergine-90 { background: var(--ubuntu-light-aubergine-90); }
.background-ubuntu-light-aubergine-80 { background: var(--ubuntu-light-aubergine-80); }
.background-ubuntu-light-aubergine-70 { background: var(--ubuntu-light-aubergine-70); }
.background-ubuntu-light-aubergine-60 { background: var(--ubuntu-light-aubergine-60); }
.background-ubuntu-light-aubergine-50 { background: var(--ubuntu-light-aubergine-50); }
.background-ubuntu-light-aubergine-45 { background: var(--ubuntu-light-aubergine-45); }
.background-ubuntu-light-aubergine-40 { background: var(--ubuntu-light-aubergine-40); }
.background-ubuntu-light-aubergine-35 { background: var(--ubuntu-light-aubergine-35); }
.background-ubuntu-light-aubergine-30 { background: var(--ubuntu-light-aubergine-30); }
.background-ubuntu-light-aubergine-25 { background: var(--ubuntu-light-aubergine-25); }
.background-ubuntu-light-aubergine-20 { background: var(--ubuntu-light-aubergine-20); }
.background-ubuntu-light-aubergine-15 { background: var(--ubuntu-light-aubergine-15); }
.background-ubuntu-light-aubergine-10 { background: var(--ubuntu-light-aubergine-10); }
.background-ubuntu-mid-aubergine-100 { background: var(--ubuntu-mid-aubergine-100); }
.background-ubuntu-mid-aubergine-90 { background: var(--ubuntu-mid-aubergine-90); }
.background-ubuntu-mid-aubergine-80 { background: var(--ubuntu-mid-aubergine-80); }
.background-ubuntu-mid-aubergine-70 { background: var(--ubuntu-mid-aubergine-70); }
.background-ubuntu-mid-aubergine-60 { background: var(--ubuntu-mid-aubergine-60); }
.background-ubuntu-mid-aubergine-50 { background: var(--ubuntu-mid-aubergine-50); }
.background-ubuntu-mid-aubergine-45 { background: var(--ubuntu-mid-aubergine-45); }
.background-ubuntu-mid-aubergine-40 { background: var(--ubuntu-mid-aubergine-40); }
.background-ubuntu-mid-aubergine-35 { background: var(--ubuntu-mid-aubergine-35); }
.background-ubuntu-mid-aubergine-30 { background: var(--ubuntu-mid-aubergine-30); }
.background-ubuntu-mid-aubergine-25 { background: var(--ubuntu-mid-aubergine-25); }
.background-ubuntu-mid-aubergine-20 { background: var(--ubuntu-mid-aubergine-20); }
.background-ubuntu-mid-aubergine-15 { background: var(--ubuntu-mid-aubergine-15); }
.background-ubuntu-mid-aubergine-10 { background: var(--ubuntu-mid-aubergine-10); }
.background-ubuntu-dark-aubergine-100 { background: var(--ubuntu-dark-aubergine-100); }
.background-ubuntu-dark-aubergine-90 { background: var(--ubuntu-dark-aubergine-90); }
.background-ubuntu-dark-aubergine-80 { background: var(--ubuntu-dark-aubergine-80); }
.background-ubuntu-dark-aubergine-70 { background: var(--ubuntu-dark-aubergine-70); }
.background-ubuntu-dark-aubergine-60 { background: var(--ubuntu-dark-aubergine-60); }
.background-ubuntu-dark-aubergine-50 { background: var(--ubuntu-dark-aubergine-50); }
.background-ubuntu-dark-aubergine-45 { background: var(--ubuntu-dark-aubergine-45); }
.background-ubuntu-dark-aubergine-40 { background: var(--ubuntu-dark-aubergine-40); }
.background-ubuntu-dark-aubergine-35 { background: var(--ubuntu-dark-aubergine-35); }
.background-ubuntu-dark-aubergine-30 { background: var(--ubuntu-dark-aubergine-30); }
.background-ubuntu-dark-aubergine-25 { background: var(--ubuntu-dark-aubergine-25); }
.background-ubuntu-dark-aubergine-20 { background: var(--ubuntu-dark-aubergine-20); }
.background-ubuntu-dark-aubergine-15 { background: var(--ubuntu-dark-aubergine-15); }
.background-ubuntu-dark-aubergine-10 { background: var(--ubuntu-dark-aubergine-10); }
.background-ubuntu-warm-grey-100 { background: var(--ubuntu-warm-grey-100); }
.background-ubuntu-warm-grey-90 { background: var(--ubuntu-warm-grey-90); }
.background-ubuntu-warm-grey-80 { background: var(--ubuntu-warm-grey-80); }
.background-ubuntu-warm-grey-70 { background: var(--ubuntu-warm-grey-70); }
.background-ubuntu-warm-grey-60 { background: var(--ubuntu-warm-grey-60); }
.background-ubuntu-warm-grey-50 { background: var(--ubuntu-warm-grey-50); }
.background-ubuntu-warm-grey-45 { background: var(--ubuntu-warm-grey-45); }
.background-ubuntu-warm-grey-40 { background: var(--ubuntu-warm-grey-40); }
.background-ubuntu-warm-grey-35 { background: var(--ubuntu-warm-grey-35); }
.background-ubuntu-warm-grey-30 { background: var(--ubuntu-warm-grey-30); }
.background-ubuntu-warm-grey-25 { background: var(--ubuntu-warm-grey-25); }
.background-ubuntu-warm-grey-20 { background: var(--ubuntu-warm-grey-20); }
.background-ubuntu-warm-grey-15 { background: var(--ubuntu-warm-grey-15); }
.background-ubuntu-warm-grey-10 { background: var(--ubuntu-warm-grey-10); }
.color-ubuntu-orange { color: var(--ubuntu-orange); }
.color-ubuntu-white { color: var(--ubuntu-white); }
.color-ubuntu-black { color: var(--ubuntu-black); }
.color-ubuntu-canonical-aubergine { color: var(--ubuntu-canonical-aubergine); }
.color-ubuntu-light-aubergine { color: var(--ubuntu-light-aubergine); }
.color-ubuntu-mid-aubergine { color: var(--ubuntu-mid-aubergine); }
.color-ubuntu-dark-aubergine { color: var(--ubuntu-dark-aubergine); }
.color-ubuntu-warm-grey { color: var(--ubuntu-warm-grey); }
.color-ubuntu-cool-grey { color: var(--ubuntu-cool-grey); }
.color-ubuntu-text-grey { color: var(--ubuntu-text-grey); }
.color-ubuntu-orange-100 { color: var(--ubuntu-orange-100); }
.color-ubuntu-orange-90 { color: var(--ubuntu-orange-90); }
.color-ubuntu-orange-80 { color: var(--ubuntu-orange-80); }
.color-ubuntu-orange-70 { color: var(--ubuntu-orange-70); }
.color-ubuntu-orange-60 { color: var(--ubuntu-orange-60); }
.color-ubuntu-orange-50 { color: var(--ubuntu-orange-50); }
.color-ubuntu-orange-45 { color: var(--ubuntu-orange-45); }
.color-ubuntu-orange-40 { color: var(--ubuntu-orange-40); }
.color-ubuntu-orange-35 { color: var(--ubuntu-orange-35); }
.color-ubuntu-orange-30 { color: var(--ubuntu-orange-30); }
.color-ubuntu-orange-25 { color: var(--ubuntu-orange-25); }
.color-ubuntu-orange-20 { color: var(--ubuntu-orange-20); }
.color-ubuntu-orange-15 { color: var(--ubuntu-orange-15); }
.color-ubuntu-orange-10 { color: var(--ubuntu-orange-10); }
.color-ubuntu-canonical-aubergine-100 { color: var(--ubuntu-canonical-aubergine-100); }
.color-ubuntu-canonical-aubergine-90 { color: var(--ubuntu-canonical-aubergine-90); }
.color-ubuntu-canonical-aubergine-80 { color: var(--ubuntu-canonical-aubergine-80); }
.color-ubuntu-canonical-aubergine-70 { color: var(--ubuntu-canonical-aubergine-70); }
.color-ubuntu-canonical-aubergine-60 { color: var(--ubuntu-canonical-aubergine-60); }
.color-ubuntu-canonical-aubergine-50 { color: var(--ubuntu-canonical-aubergine-50); }
.color-ubuntu-canonical-aubergine-45 { color: var(--ubuntu-canonical-aubergine-45); }
.color-ubuntu-canonical-aubergine-40 { color: var(--ubuntu-canonical-aubergine-40); }
.color-ubuntu-canonical-aubergine-35 { color: var(--ubuntu-canonical-aubergine-35); }
.color-ubuntu-canonical-aubergine-30 { color: var(--ubuntu-canonical-aubergine-30); }
.color-ubuntu-canonical-aubergine-25 { color: var(--ubuntu-canonical-aubergine-25); }
.color-ubuntu-canonical-aubergine-20 { color: var(--ubuntu-canonical-aubergine-20); }
.color-ubuntu-canonical-aubergine-15 { color: var(--ubuntu-canonical-aubergine-15); }
.color-ubuntu-canonical-aubergine-10 { color: var(--ubuntu-canonical-aubergine-10); }
.color-ubuntu-light-aubergine-100 { color: var(--ubuntu-light-aubergine-100); }
.color-ubuntu-light-aubergine-90 { color: var(--ubuntu-light-aubergine-90); }
.color-ubuntu-light-aubergine-80 { color: var(--ubuntu-light-aubergine-80); }
.color-ubuntu-light-aubergine-70 { color: var(--ubuntu-light-aubergine-70); }
.color-ubuntu-light-aubergine-60 { color: var(--ubuntu-light-aubergine-60); }
.color-ubuntu-light-aubergine-50 { color: var(--ubuntu-light-aubergine-50); }
.color-ubuntu-light-aubergine-45 { color: var(--ubuntu-light-aubergine-45); }
.color-ubuntu-light-aubergine-40 { color: var(--ubuntu-light-aubergine-40); }
.color-ubuntu-light-aubergine-35 { color: var(--ubuntu-light-aubergine-35); }
.color-ubuntu-light-aubergine-30 { color: var(--ubuntu-light-aubergine-30); }
.color-ubuntu-light-aubergine-25 { color: var(--ubuntu-light-aubergine-25); }
.color-ubuntu-light-aubergine-20 { color: var(--ubuntu-light-aubergine-20); }
.color-ubuntu-light-aubergine-15 { color: var(--ubuntu-light-aubergine-15); }
.color-ubuntu-light-aubergine-10 { color: var(--ubuntu-light-aubergine-10); }
.color-ubuntu-mid-aubergine-100 { color: var(--ubuntu-mid-aubergine-100); }
.color-ubuntu-mid-aubergine-90 { color: var(--ubuntu-mid-aubergine-90); }
.color-ubuntu-mid-aubergine-80 { color: var(--ubuntu-mid-aubergine-80); }
.color-ubuntu-mid-aubergine-70 { color: var(--ubuntu-mid-aubergine-70); }
.color-ubuntu-mid-aubergine-60 { color: var(--ubuntu-mid-aubergine-60); }
.color-ubuntu-mid-aubergine-50 { color: var(--ubuntu-mid-aubergine-50); }
.color-ubuntu-mid-aubergine-45 { color: var(--ubuntu-mid-aubergine-45); }
.color-ubuntu-mid-aubergine-40 { color: var(--ubuntu-mid-aubergine-40); }
.color-ubuntu-mid-aubergine-35 { color: var(--ubuntu-mid-aubergine-35); }
.color-ubuntu-mid-aubergine-30 { color: var(--ubuntu-mid-aubergine-30); }
.color-ubuntu-mid-aubergine-25 { color: var(--ubuntu-mid-aubergine-25); }
.color-ubuntu-mid-aubergine-20 { color: var(--ubuntu-mid-aubergine-20); }
.color-ubuntu-mid-aubergine-15 { color: var(--ubuntu-mid-aubergine-15); }
.color-ubuntu-mid-aubergine-10 { color: var(--ubuntu-mid-aubergine-10); }
.color-ubuntu-dark-aubergine-100 { color: var(--ubuntu-dark-aubergine-100); }
.color-ubuntu-dark-aubergine-90 { color: var(--ubuntu-dark-aubergine-90); }
.color-ubuntu-dark-aubergine-80 { color: var(--ubuntu-dark-aubergine-80); }
.color-ubuntu-dark-aubergine-70 { color: var(--ubuntu-dark-aubergine-70); }
.color-ubuntu-dark-aubergine-60 { color: var(--ubuntu-dark-aubergine-60); }
.color-ubuntu-dark-aubergine-50 { color: var(--ubuntu-dark-aubergine-50); }
.color-ubuntu-dark-aubergine-45 { color: var(--ubuntu-dark-aubergine-45); }
.color-ubuntu-dark-aubergine-40 { color: var(--ubuntu-dark-aubergine-40); }
.color-ubuntu-dark-aubergine-35 { color: var(--ubuntu-dark-aubergine-35); }
.color-ubuntu-dark-aubergine-30 { color: var(--ubuntu-dark-aubergine-30); }
.color-ubuntu-dark-aubergine-25 { color: var(--ubuntu-dark-aubergine-25); }
.color-ubuntu-dark-aubergine-20 { color: var(--ubuntu-dark-aubergine-20); }
.color-ubuntu-dark-aubergine-15 { color: var(--ubuntu-dark-aubergine-15); }
.color-ubuntu-dark-aubergine-10 { color: var(--ubuntu-dark-aubergine-10); }
.color-ubuntu-warm-grey-100 { color: var(--ubuntu-warm-grey-100); }
.color-ubuntu-warm-grey-90 { color: var(--ubuntu-warm-grey-90); }
.color-ubuntu-warm-grey-80 { color: var(--ubuntu-warm-grey-80); }
.color-ubuntu-warm-grey-70 { color: var(--ubuntu-warm-grey-70); }
.color-ubuntu-warm-grey-60 { color: var(--ubuntu-warm-grey-60); }
.color-ubuntu-warm-grey-50 { color: var(--ubuntu-warm-grey-50); }
.color-ubuntu-warm-grey-45 { color: var(--ubuntu-warm-grey-45); }
.color-ubuntu-warm-grey-40 { color: var(--ubuntu-warm-grey-40); }
.color-ubuntu-warm-grey-35 { color: var(--ubuntu-warm-grey-35); }
.color-ubuntu-warm-grey-30 { color: var(--ubuntu-warm-grey-30); }
.color-ubuntu-warm-grey-25 { color: var(--ubuntu-warm-grey-25); }
.color-ubuntu-warm-grey-20 { color: var(--ubuntu-warm-grey-20); }
.color-ubuntu-warm-grey-15 { color: var(--ubuntu-warm-grey-15); }
.color-ubuntu-warm-grey-10 { color: var(--ubuntu-warm-grey-10); }
.fill-ubuntu-orange { fill: var(--ubuntu-orange); }
.fill-ubuntu-white { fill: var(--ubuntu-white); }
.fill-ubuntu-black { fill: var(--ubuntu-black); }
.fill-ubuntu-canonical-aubergine { fill: var(--ubuntu-canonical-aubergine); }
.fill-ubuntu-light-aubergine { fill: var(--ubuntu-light-aubergine); }
.fill-ubuntu-mid-aubergine { fill: var(--ubuntu-mid-aubergine); }
.fill-ubuntu-dark-aubergine { fill: var(--ubuntu-dark-aubergine); }
.fill-ubuntu-warm-grey { fill: var(--ubuntu-warm-grey); }
.fill-ubuntu-cool-grey { fill: var(--ubuntu-cool-grey); }
.fill-ubuntu-text-grey { fill: var(--ubuntu-text-grey); }
.fill-ubuntu-orange-100 { fill: var(--ubuntu-orange-100); }
.fill-ubuntu-orange-90 { fill: var(--ubuntu-orange-90); }
.fill-ubuntu-orange-80 { fill: var(--ubuntu-orange-80); }
.fill-ubuntu-orange-70 { fill: var(--ubuntu-orange-70); }
.fill-ubuntu-orange-60 { fill: var(--ubuntu-orange-60); }
.fill-ubuntu-orange-50 { fill: var(--ubuntu-orange-50); }
.fill-ubuntu-orange-45 { fill: var(--ubuntu-orange-45); }
.fill-ubuntu-orange-40 { fill: var(--ubuntu-orange-40); }
.fill-ubuntu-orange-35 { fill: var(--ubuntu-orange-35); }
.fill-ubuntu-orange-30 { fill: var(--ubuntu-orange-30); }
.fill-ubuntu-orange-25 { fill: var(--ubuntu-orange-25); }
.fill-ubuntu-orange-20 { fill: var(--ubuntu-orange-20); }
.fill-ubuntu-orange-15 { fill: var(--ubuntu-orange-15); }
.fill-ubuntu-orange-10 { fill: var(--ubuntu-orange-10); }
.fill-ubuntu-canonical-aubergine-100 { fill: var(--ubuntu-canonical-aubergine-100); }
.fill-ubuntu-canonical-aubergine-90 { fill: var(--ubuntu-canonical-aubergine-90); }
.fill-ubuntu-canonical-aubergine-80 { fill: var(--ubuntu-canonical-aubergine-80); }
.fill-ubuntu-canonical-aubergine-70 { fill: var(--ubuntu-canonical-aubergine-70); }
.fill-ubuntu-canonical-aubergine-60 { fill: var(--ubuntu-canonical-aubergine-60); }
.fill-ubuntu-canonical-aubergine-50 { fill: var(--ubuntu-canonical-aubergine-50); }
.fill-ubuntu-canonical-aubergine-45 { fill: var(--ubuntu-canonical-aubergine-45); }
.fill-ubuntu-canonical-aubergine-40 { fill: var(--ubuntu-canonical-aubergine-40); }
.fill-ubuntu-canonical-aubergine-35 { fill: var(--ubuntu-canonical-aubergine-35); }
.fill-ubuntu-canonical-aubergine-30 { fill: var(--ubuntu-canonical-aubergine-30); }
.fill-ubuntu-canonical-aubergine-25 { fill: var(--ubuntu-canonical-aubergine-25); }
.fill-ubuntu-canonical-aubergine-20 { fill: var(--ubuntu-canonical-aubergine-20); }
.fill-ubuntu-canonical-aubergine-15 { fill: var(--ubuntu-canonical-aubergine-15); }
.fill-ubuntu-canonical-aubergine-10 { fill: var(--ubuntu-canonical-aubergine-10); }
.fill-ubuntu-light-aubergine-100 { fill: var(--ubuntu-light-aubergine-100); }
.fill-ubuntu-light-aubergine-90 { fill: var(--ubuntu-light-aubergine-90); }
.fill-ubuntu-light-aubergine-80 { fill: var(--ubuntu-light-aubergine-80); }
.fill-ubuntu-light-aubergine-70 { fill: var(--ubuntu-light-aubergine-70); }
.fill-ubuntu-light-aubergine-60 { fill: var(--ubuntu-light-aubergine-60); }
.fill-ubuntu-light-aubergine-50 { fill: var(--ubuntu-light-aubergine-50); }
.fill-ubuntu-light-aubergine-45 { fill: var(--ubuntu-light-aubergine-45); }
.fill-ubuntu-light-aubergine-40 { fill: var(--ubuntu-light-aubergine-40); }
.fill-ubuntu-light-aubergine-35 { fill: var(--ubuntu-light-aubergine-35); }
.fill-ubuntu-light-aubergine-30 { fill: var(--ubuntu-light-aubergine-30); }
.fill-ubuntu-light-aubergine-25 { fill: var(--ubuntu-light-aubergine-25); }
.fill-ubuntu-light-aubergine-20 { fill: var(--ubuntu-light-aubergine-20); }
.fill-ubuntu-light-aubergine-15 { fill: var(--ubuntu-light-aubergine-15); }
.fill-ubuntu-light-aubergine-10 { fill: var(--ubuntu-light-aubergine-10); }
.fill-ubuntu-mid-aubergine-100 { fill: var(--ubuntu-mid-aubergine-100); }
.fill-ubuntu-mid-aubergine-90 { fill: var(--ubuntu-mid-aubergine-90); }
.fill-ubuntu-mid-aubergine-80 { fill: var(--ubuntu-mid-aubergine-80); }
.fill-ubuntu-mid-aubergine-70 { fill: var(--ubuntu-mid-aubergine-70); }
.fill-ubuntu-mid-aubergine-60 { fill: var(--ubuntu-mid-aubergine-60); }
.fill-ubuntu-mid-aubergine-50 { fill: var(--ubuntu-mid-aubergine-50); }
.fill-ubuntu-mid-aubergine-45 { fill: var(--ubuntu-mid-aubergine-45); }
.fill-ubuntu-mid-aubergine-40 { fill: var(--ubuntu-mid-aubergine-40); }
.fill-ubuntu-mid-aubergine-35 { fill: var(--ubuntu-mid-aubergine-35); }
.fill-ubuntu-mid-aubergine-30 { fill: var(--ubuntu-mid-aubergine-30); }
.fill-ubuntu-mid-aubergine-25 { fill: var(--ubuntu-mid-aubergine-25); }
.fill-ubuntu-mid-aubergine-20 { fill: var(--ubuntu-mid-aubergine-20); }
.fill-ubuntu-mid-aubergine-15 { fill: var(--ubuntu-mid-aubergine-15); }
.fill-ubuntu-mid-aubergine-10 { fill: var(--ubuntu-mid-aubergine-10); }
.fill-ubuntu-dark-aubergine-100 { fill: var(--ubuntu-dark-aubergine-100); }
.fill-ubuntu-dark-aubergine-90 { fill: var(--ubuntu-dark-aubergine-90); }
.fill-ubuntu-dark-aubergine-80 { fill: var(--ubuntu-dark-aubergine-80); }
.fill-ubuntu-dark-aubergine-70 { fill: var(--ubuntu-dark-aubergine-70); }
.fill-ubuntu-dark-aubergine-60 { fill: var(--ubuntu-dark-aubergine-60); }
.fill-ubuntu-dark-aubergine-50 { fill: var(--ubuntu-dark-aubergine-50); }
.fill-ubuntu-dark-aubergine-45 { fill: var(--ubuntu-dark-aubergine-45); }
.fill-ubuntu-dark-aubergine-40 { fill: var(--ubuntu-dark-aubergine-40); }
.fill-ubuntu-dark-aubergine-35 { fill: var(--ubuntu-dark-aubergine-35); }
.fill-ubuntu-dark-aubergine-30 { fill: var(--ubuntu-dark-aubergine-30); }
.fill-ubuntu-dark-aubergine-25 { fill: var(--ubuntu-dark-aubergine-25); }
.fill-ubuntu-dark-aubergine-20 { fill: var(--ubuntu-dark-aubergine-20); }
.fill-ubuntu-dark-aubergine-15 { fill: var(--ubuntu-dark-aubergine-15); }
.fill-ubuntu-dark-aubergine-10 { fill: var(--ubuntu-dark-aubergine-10); }
.fill-ubuntu-warm-grey-100 { fill: var(--ubuntu-warm-grey-100); }
.fill-ubuntu-warm-grey-90 { fill: var(--ubuntu-warm-grey-90); }
.fill-ubuntu-warm-grey-80 { fill: var(--ubuntu-warm-grey-80); }
.fill-ubuntu-warm-grey-70 { fill: var(--ubuntu-warm-grey-70); }
.fill-ubuntu-warm-grey-60 { fill: var(--ubuntu-warm-grey-60); }
.fill-ubuntu-warm-grey-50 { fill: var(--ubuntu-warm-grey-50); }
.fill-ubuntu-warm-grey-45 { fill: var(--ubuntu-warm-grey-45); }
.fill-ubuntu-warm-grey-40 { fill: var(--ubuntu-warm-grey-40); }
.fill-ubuntu-warm-grey-35 { fill: var(--ubuntu-warm-grey-35); }
.fill-ubuntu-warm-grey-30 { fill: var(--ubuntu-warm-grey-30); }
.fill-ubuntu-warm-grey-25 { fill: var(--ubuntu-warm-grey-25); }
.fill-ubuntu-warm-grey-20 { fill: var(--ubuntu-warm-grey-20); }
.fill-ubuntu-warm-grey-15 { fill: var(--ubuntu-warm-grey-15); }
.fill-ubuntu-warm-grey-10 { fill: var(--ubuntu-warm-grey-10); }
